*
!bin/
!internal.mk
!requirements*.txt
!commons
!geoportal
!admin
!scripts/clone_schema.sql
admin/Makefile
!vars.yaml
!.tx
!.gitattributes
!.pylintrc
!setup.cfg
!lingua.cfg
!package.json
**/__pycache__/
