* text whitespace=trailing-space,tab-in-indent,cr-at-eol,tabwidth=4 eol=lf
.gitmodules text whitespace=indent-with-non-tab,tabwidth=2
Makefile text whitespace=indent-with-non-tab,tabwidth=2
CONST_Makefile_tmpl text whitespace=indent-with-non-tab,tabwidth=2
*.mk text whitespace=indent-with-non-tab,tabwidth=2
doc/Makefile -whitespace
*.rst text conflict-marker-size=100
*.rst.mako text conflict-marker-size=100
*.jrxml text whitespace=indent-with-non-tab
*.ttf binary
*.png binary
*.war binary
