*~
*.pyc
*.pyo
npm-packages
/c2cgeoportal/static/build/
/tests/functional/test.ini
/tests/functional/alembic.ini
/tests/functional/alembic_static.ini
/tests/testegg/production.ini
/c2cgeoportal/locale/c2cgeoportal.pot
/c2cgeoportal/locale/*/LC_MESSAGES/c2cgeoportal.po
/c2cgeoportal/locale/*/LC_MESSAGES/c2cgeoportal.mo
/c2cgeoportal/scaffolds/create/+package+/locale/*/LC_MESSAGES/+package+-client.po
/c2cgeoportal/scaffolds/create/docker-run
/c2cgeoportal/scaffolds/create/+package+/templates/mobile.html_tmpl
/c2cgeoportal/scaffolds/create/+package+/templates/desktop.html_tmpl
/c2cgeoportal/scaffolds/create/+package+/static-ngeo/images/
/c2cgeoportal/scaffolds/create/+package+/static-ngeo/js/mobile.js_tmpl
/c2cgeoportal/scaffolds/create/+package+/static-ngeo/js/desktop.js_tmpl
/c2cgeoportal/scaffolds/create/+package+/static-ngeo/components/
/c2cgeoportal/scaffolds/update/CONST_Makefile_tmpl.mk
/c2cgeoportal/scaffolds/update/CONST_create_template/
/c2cgeoportal/scaffolds/nondockerupdate/CONST_create_template/
/c2cgeoportal.egg-info
/docker/test-mapserver/mapserver.map
/doc/administrator/administrate.rst
/doc/developer/client_side.rst
/doc/index.rst
/doc/integrator/legacy_cgxp.rst
/doc/integrator/editing.rst
/doc/integrator/features.rst
/doc/integrator/fulltext_search.rst
/doc/integrator/print.rst
/doc/integrator/upgrade_application.rst
/dist/
/coverage.xml
/gatling/.classpath
/gatling/.project
/gatling/.cache-main
/ngeo/
/.tx/config
/.SUCCESS
/.coverage
