# Can be moved to setup.cfg with pylint 2.5, prefixed with 'pylint.'.
[MASTER]
load-plugins=scripts/pylint-copyright

[MESSAGES CONTROL]
disable=missing-docstring,
    bad-continuation,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-lines,
    too-many-instance-attributes,
    too-many-return-statements,
    too-many-public-methods,
    too-many-nested-blocks,
    too-many-function-args,
    locally-disabled,
    global-statement,
    fixme,
    broad-except,
    invalid-name,
    wrong-import-order
known-third-party=c2cwsgiutils,c2cgeoform
known-first-party=c2cgeoportal_commons,c2cgeoportal_geoportal,c2cgeoportal_admin

[TYPECHECK]
ignored-classes=sqlalchemy.orm.scoping.scoped_session,
    sqlalchemy.sql.selectable.TableClause,
    pyramid.httpexceptions.HTTPInternalServerError,
    pyramid.httpexceptions.HTTPBadRequest
generated-members=requests.packages

[FORMAT]
max-line-length=110
good-names=nb
