[MESSAGES CONTROL]
disable=missing-docstring, bad-continuation

[TYPECHECK]
ignored-classes=sqlalchemy.orm.scoping.scoped_session,
    sqlalchemy.sql.selectable.TableClause,
    pyramid.httpexceptions.HTTPInternalServerError,
    pyramid.httpexceptions.HTTPBadRequest
generated-members=requests.packages

[FORMAT]
max-line-length=110
good-names=nb
