language: python

python:
- 2.7

services:
- postgresql

env:
  global:
    secure: aZWcHZWV8lN2SNU2fcUsG8+fVQLOxwDUFYDvuftZALebRG2AHINTkbS31sKbeSwS19ZYpjcuVOKC9HxNAlnMxsdO1NvvFEbSJJD/yqq0V4EfTRqptZYsFCUou0eXIUWEnoFHD1nY3NhuPQjDoad995xU92z0BzwduxUAj28liu4=

before_install:
- cat /etc/apt/sources.list.d/*
- sudo apt-get remove -y --force-yes python-zope.interface
- sudo apt-get install -y --force-yes aptitude
- sudo add-apt-repository -y ppa:stephane-brunner/precise-gis
- sudo apt-get update
- sudo aptitude install -y apache2 libapache2-mod-wsgi libapache2-mod-fcgid tomcat7
  deploy cgi-mapserver postgis=2.0.3-2~precise4 postgresql-9.1-postgis-2.0=2.0.3-2~precise4
  postgresql-9.1-postgis-2.0-scripts=2.0.3-2~precise4

- sudo -u postgres createdb -E UTF8 -T template0 template_postgis
- psql -d template_postgis -U postgres -f /usr/share/postgresql/9.1/contrib/postgis-2.0/postgis.sql > /dev/null
- psql -d template_postgis -U postgres -f /usr/share/postgresql/9.1/contrib/postgis-2.0/spatial_ref_sys.sql > /dev/null
#- psql -d template_postgis -U postgres -c "CREATE EXTENSION postgis;"

- sudo -u postgres createdb -E UTF8 -T template_postgis c2cgeoportal_test
- sudo -u postgres createdb -E UTF8 -T template_postgis geomapfish

- sudo -u postgres createuser www-data --no-superuser --no-createdb --no-createrole
- sudo -u postgres psql -q -d c2cgeoportal_test -f travis/db.sql

- |
  if [ "${TX_PASS}" != "" ]
  then
  echo "[https://www.transifex.com]" >> ~/.transifexrc
  echo "hostname = https://www.transifex.com" >> ~/.transifexrc
  echo "username = stephane.brunner@camptocamp.com" >> ~/.transifexrc
  echo "password = ${TX_PASS}" >> ~/.transifexrc
  echo "token =" >> ~/.transifexrc
  fi

install:
- if [ ${TRAVIS_PULL_REQUEST} != "false" ] ; then git fetch origin ${TRAVIS_BRANCH}:${TRAVIS_BRANCH}; fi
- travis/no-make-error.sh . help
- make -f travis.mk c2c-egg
- travis/pip.sh install tilecloud_chain
- .build/venv/bin/pip freeze | grep -v '^-e' | grep -v '^#'
- diff -u c2cgeoportal/scaffolds/update/CONST_versions.txt <(.build/venv/bin/pip freeze | grep -v '^-e' | grep -v '^#') | grep '^[+-]'
- make -f travis.mk build
- .build/venv/bin/pcreate -s c2cgeoportal_create /tmp/testgeomapfish package=testgeomapfish srid=21781 mobile_application_title="Mobile App éàè" apache_vhost=test extent= > /dev/null
- .build/venv/bin/pcreate -s c2cgeoportal_update /tmp/testgeomapfish package=testgeomapfish srid=21781 mobile_application_title="Mobile App éàè" apache_vhost=test > /dev/null # on create
- cp /tmp/testgeomapfish/project.yaml.mako project.yaml
- .build/venv/bin/pcreate -s c2cgeoportal_update /tmp/testgeomapfish > /dev/null  # on upgrade - don't add any argument on this command
- rm project.yaml
- .build/venv/bin/alembic -c c2cgeoportal/tests/functional/alembic.ini heads
- .build/venv/bin/alembic -c c2cgeoportal/tests/functional/alembic_static.ini heads
- travis/no-make-error.sh /tmp/testgeomapfish -f travis.mk help
- travis/build-new-project.sh

script:
- uname -a
- sudo -u postgres psql --version
- node -v
- npm -v
- .build/venv/bin/flake8 --version
- python setup.py --version

- if [ ${TRAVIS_PULL_REQUEST} != "false" ] ; then git diff --check ${TRAVIS_BRANCH} -- ; fi
- find /tmp/testgeomapfish/CONST_alembic -name \*.py | xargs .build/venv/bin/flake8 --copyright-check --copyright-min-file-size=1 --copyright-regexp="Copyright \(c\) [0-9\-]*$(shell date +%Y), Camptocamp SA" --max-line-length=100
- find /tmp/testgeomapfish/setup.py /tmp/testgeomapfish/test/*.py /tmp/testgeomapfish/test/views -name \*.py | xargs .build/venv/bin/flake8 --max-line-length=100
- find /tmp/testgeomapfish/setup.py /tmp/testgeomapfish/test/*.py /tmp/testgeomapfish/test/views -name \*.py | xargs travis/quote
- travis/test-new-project.sh wsgi/viewer.js
- travis/test-new-project.sh wsgi/check_collector
- travis/test-new-project.sh wsgi/check_collector?type=all
- travis/status.sh /tmp/testgeomapfish/
- travis/empty-make-new-project.sh
- travis/empty-make.sh -f travis.mk build
- travis/no-make-error.sh . build
- travis/no-make-error.sh /tmp/testgeomapfish -f travis.mk build
- cp travis/empty-vars.mk /tmp/testgeomapfish/
- travis/run-on.sh /tmp/testgeomapfish/ 'make -f empty-vars.mk .build/config.yaml'
- make -f travis.mk doc
- make -f travis.mk checks
- make -f travis.mk c2cgeoportal/tests/functional/alembic.ini
- travis/quote `find c2cgeoportal/lib c2cgeoportal/scaffolds/create c2cgeoportal/templates c2cgeoportal/tests c2cgeoportal/views -name '*.py'` c2cgeoportal/*.py setup.py
- travis/squote `find c2cgeoportal/scaffolds/update/CONST_alembic -name '*.py'`
- .build/venv/bin/alembic -c c2cgeoportal/tests/functional/alembic.ini upgrade head
- .build/venv/bin/alembic -c c2cgeoportal/tests/functional/alembic_static.ini upgrade head
- .build/venv/bin/alembic -c c2cgeoportal/tests/functional/alembic_static.ini downgrade base
- .build/venv/bin/alembic -c c2cgeoportal/tests/functional/alembic.ini downgrade base
- .build/venv/bin/python setup.py nosetests --stop --nocapture --nologcapture
- travis/status.sh

after_failure:
- .build/venv/bin/python setup.py nosetests

after_success:
- travis/pip.sh install coveralls
- .build/venv/bin/coveralls
- openssl aes-256-cbc -K $encrypted_ae821512cabf_key -iv $encrypted_ae821512cabf_iv -in deploy_key.enc -out ~/.ssh/id_rsa -d | true
- chmod 600 ~/.ssh/id_rsa
- git config --global user.email travis@camptocamp.com
- git config --global user.name Travis
- git remote set-url origin git@github.com:camptocamp/c2cgeoportal.git

before_deploy:
- .build/venv/bin/pip install wheel
- if [[ ${TRAVIS_TAG} =~ ^[0-9]+\.[0-9]+\..+$ ]] ; then
  sed -e 's/REQUIREMENTS [\?]= c2cgeoportal/REQUIREMENTS ?= c2cgeoportal=='"${TRAVIS_TAG}"'/g' -i c2cgeoportal/scaffolds/update/CONST_Makefile_tmpl;
  sed -e 's/version="[0-9]\+\.[0-9]\+",/version="'"${TRAVIS_TAG}"'",/g' -i setup.py;
  git diff;
  fi

deploy:
- provider: pypi
  user: sbrunner
  password:
    secure: dT4Z3Zk2SGq1BPl+mX2iI0ubK7veSPb1b0fGrKHpvC3gBxuGUDMhtHw5dgopdWWeUhZLzLoPpEZPyCHtJhE2vunGwZfmJXkrqp/yC1meszZpDgBkpRWzx62u/f1+FmUdGPukvlqTfzgl/vJwertPRzX9Y4hanoFIDQvIKnp37Ls=
  skip_cleanup: true
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: 2.7
    condition: ${TRAVIS_TAG} =~ ^[0-9]+\.[0-9]+\..+$
- &transifex
  provider: script
  script: make transifex-send
  skip_cleanup: true
  on:
    repo: camptocamp/c2cgeoportal
    branch: master
    python: 2.7
- <<: *transifex
  on:
    repo: camptocamp/c2cgeoportal
    branch: 2.0
    python: 2.7
- provider: script
  script: travis/doc.sh
  skip_cleanup: true
  on:
    repo: camptocamp/c2cgeoportal
    python: 2.7

notifications:
  email:
    on_failure: change
