---

dist: trusty
sudo: required

language: python
python:
  - "3.5"

service:
  - docker

env:
  global:
    - secure: "aZWcHZWV8lN2SNU2fcUsG8+fVQLOxwDUFYDvuftZALebRG2AHINTkbS31sKbeSwS19ZYpjcuVOKC9HxNAlnMxsdO1Nvv\
        FEbSJJD/yqq0V4EfTRqptZYsFCUou0eXIUWEnoFHD1nY3NhuPQjDoad995xU92z0BzwduxUAj28liu4="
    - DOCKER_USERNAME=sbrunner
    - secure: "SosPNhER7I5YnVZy7AoUjrs+P08S60fPje1sFgMdfRNRElI42oLgO6wk1nEFEGGjUevSLzpsDruy7z1m5ilzyMenO1hG\
        1lASf2BeeJC8rRz75MgRKnlf7Py6BA9GbNprzMdgxNPlUtrEkp9ExLvC7MZs7H0RvwxBgQmepQG5Mdg="
    - TRAVIS_USERNAME=sbrunner
    - secure: "Vt9O18grAUS3cf4tzbqY1YuQyCJTsPNh5lA79/q8viAcrJg0fAeNQEBoUyCAzztlgL53PrzLWTYIuK6Fw1t+td8hmEST\
        l7fPSlVbGB6C/iG0d+cnIq31rjnliIdErXIAcB4JwE3yIRx+5aVEMBpAUhRuzBhGCt6iZwjhhFEr/D8="
    - MAIN_BRANCH=master
    - MAJOR_VERSION=2.3

install:
  - docker --version
  - docker-compose --version
  - sudo service postgresql stop
  - git config --global user.email travis@camptocamp.com
  - git config --global user.name Travis
  - python3 -m pip install --requirement=travis/requirements.txt
before_script:
  - python3 -m compileall commons/c2cgeoportal_commons
  - python3 -m compileall geoportal/c2cgeoportal_geoportal
  - python3 -m compileall admin/c2cgeoportal_admin
  - docker build --tag=camptocamp/geomapfish-build-dev:${MAJOR_VERSION} docker/build
  - ./docker-run make build

    ## FOR NON DOCKER TESTS
  - deactivate
  - sudo apt-get remove --assume-yes --force-yes python-zope.interface
  - "sudo aptitude install --assume-yes tree apache2 apache2-dev libapache2-mod-fcgid tomcat7 cgi-mapserver \
      python3-netifaces python3-pip python3-virtualenv libgdal-dev"
  # workaround: https://askubuntu.com/questions/569550/
  #    assertionerror-using-apache2-and-libapache2-mod-wsgi-py3-on-ubuntu-14-04-python
  - sudo python3 -m pip install mod_wsgi
  - sudo mod_wsgi-express install-module
  - echo "LoadModule wsgi_module /usr/lib/apache2/modules/mod_wsgi-py34.cpython-34m.so" > /tmp/wsgi_express.load
  - echo "WSGIPythonHome /usr/" > /tmp/wsgi_express.conf
  - sudo mv /tmp/wsgi_express.load /tmp/wsgi_express.conf /etc/apache2/mods-available/
  - sudo a2enmod wsgi_express
  - sudo service apache2 restart
  - sudo chmod o+rx /var/log/apache2/
  - sudo chmod o+r /var/log/apache2/*.log
  # Database for the GeoMapFish application
  - ./docker-run make testdb-docker
  - "docker run --env=POSTGRES_USER=www-data --env=POSTGRES_PASSWORD=www-data --env=POSTGRES_DB=geomapfish \
      --publish=5432:5432 --detach camptocamp/geomapfish-test-db"
  - docker build --tag=external-db docker/test-external-db
  - docker run --publish=5433:5432 --detach external-db ## FOR NON DOCKER TEST
  - mkdir /tmp/travis
  - travis/create-new-nondocker-project.sh
  - (cd /tmp/travis/nondockertestgeomapfish/; ./docker-run travis/empty-make --makefile=travis.mk help)
  - (cd /tmp/travis/nondockertestgeomapfish/; ./docker-run make --makefile=travis.mk build)
  - (cd /tmp/travis/nondockertestgeomapfish/; make --makefile=travis-nondocker.mk build)
script:
  # Test new non Docker project
  - (cd /tmp/travis/nondockertestgeomapfish/; ./docker-run travis/empty-make --makefile=travis.mk build)
  - (cd /tmp/travis/nondockertestgeomapfish/; ./docker-run make --makefile=travis.mk checks)
  - find
      /tmp/travis/nondockertestgeomapfish/geoportal/setup.py
      /tmp/travis/nondockertestgeomapfish/geoportal/testgeomapfish_geoportal/*.py
      /tmp/travis/nondockertestgeomapfish/geoportal/testgeomapfish_geoportal/views
      /tmp/travis/nondockertestgeomapfish/commons/setup.py
      /tmp/travis/nondockertestgeomapfish/commons/testgeomapfish_commons
      -name \*.py | xargs travis/squote
  - travis/test-new-project http://localhost/main/wsgi/c2c/health_check
  - travis/test-new-project http://localhost/main/wsgi/c2c/health_check?max_level=100
  - travis/test-new-project http://localhost/main/wsgi/admin/layertree
  - cat /var/log/apache2/error.log
  - cat /var/log/apache2/access.log
  - sudo cat /var/log/tomcat7/catalina.out
  - (cd /tmp/travis/nondockertestgeomapfish/; ./docker-run travis/status.sh)
  - (cd /tmp/travis/nondockertestgeomapfish/; ./docker-run rm /build/c2ctemplate-cache.json)
  - "(cd /tmp/travis/nondockertestgeomapfish/; \
      ./docker-run make --makefile=empty-vars.mk geoportal/config.yaml)"
  - (cd /tmp/travis/nondockertestgeomapfish/; ./docker-run make --makefile=travis.mk alembic.ini)
  - (cd /tmp/travis/nondockertestgeomapfish/; ./docker-run alembic --name=main upgrade head)
  - (cd /tmp/travis/nondockertestgeomapfish/; ./docker-run alembic --name=static upgrade head)
  - (cd /tmp/travis/nondockertestgeomapfish/; ./docker-run alembic --name=static downgrade base)
  - (cd /tmp/travis/nondockertestgeomapfish/; ./docker-run alembic --name=main downgrade base)
  ## END FOR NON DOCKER TESTS
  - ./docker-run make doc

after_success:
  - git config --global user.email travis@camptocamp.com
  - git config --global user.name Travis
  - openssl aes-256-cbc -K $encrypted_ae821512cabf_key -iv $encrypted_ae821512cabf_iv
      -in deploy_key.enc -out ~/.ssh/id_rsa -d | true
  - chmod 600 ~/.ssh/id_rsa
  - git remote set-url origin git@github.com:camptocamp/c2cgeoportal.git
  - |
    if [ "${TX_PASS}" != "" ]
    then
    echo "[https://www.transifex.com]" >> ~/.transifexrc
    echo "hostname = https://www.transifex.com" >> ~/.transifexrc
    echo "username = stephane.brunner@camptocamp.com" >> ~/.transifexrc
    echo "password = ${TX_PASS}" >> ~/.transifexrc
    echo "token =" >> ~/.transifexrc
    fi
  - if [[ ${TRAVIS_TAG} =~ ^[0-9]+\.[0-9]+\..+$ ]] ; then
    sed --expression 's/version="[0-9]\+\.[0-9]\+",/version="'"${TRAVIS_TAG}"'",/g' --in-place setup.py;
    git diff;
    fi

deploy:
  - provider: script
    skip_cleanup: true
    script: travis/publish-docker
    on:
      repo: camptocamp/c2cgeoportal
      all_branches: true

  - provider: script
    skip_cleanup: true
    script: travis/doc.sh
    on:
      repo: camptocamp/c2cgeoportal
      condition: ( $TRAVIS_BRANCH == $MAIN_BRANCH )

  - provider: script
    skip_cleanup: true
    script: ./docker-run --home make transifex-send
    on:
      repo: camptocamp/c2cgeoportal
      condition: ( $TRAVIS_BRANCH == $MAIN_BRANCH )

  - provider: script
    skip_cleanup: true
    script: travis/deploy-pip
    on:
      repo: camptocamp/c2cgeoportal
      condition: $TRAVIS_TAG =~ ^[0-9]+\.[0-9]+\..+$

notifications:
  email:
    on_failure: change
