language: python
python:
- 2.6
- 2.7

before_install:
- sudo apt-get update
- sudo apt-get install -y postgresql-9.1-postgis apache2 cgi-mapserver
- sudo -u postgres createdb -E UTF8 -T template0 c2cgeoportal_test
- sudo -u postgres psql -q -d c2cgeoportal_test -f /usr/share/postgresql/9.1/contrib/postgis-1.5/postgis.sql
- sudo -u postgres psql -q -d c2cgeoportal_test -f /usr/share/postgresql/9.1/contrib/postgis-1.5/spatial_ref_sys.sql
- sudo -u postgres createuser www-data --no-superuser --no-createdb --no-createrole
- sudo -u postgres psql -q -d c2cgeoportal_test -f travis-db.sql
- sudo apache2ctl graceful

install:
- python bootstrap.py --version 1.5.2 --distribute -c buildout_travis.cfg
- ./buildout/bin/buildout -c buildout_travis.cfg

before_script:
- cd doc
- virtualenv --no-site-packages --distribute env
- source env/bin/activate
- pip install -r requirements.txt
- cd -

script: 
- ./travis-doc.sh
- find c2cgeoportal/*.py c2cgeoportal/lib c2cgeoportal/scripts c2cgeoportal/views -name \*.py | xargs ./buildout/bin/flake8 --ignore=E501,E712 --max-complexity=25
- ./buildout/bin/python setup.py nosetests

after_success:
- pip install coveralls
- coveralls

notifications:
  email:
    recipients:
    - c2cgeoportal@camptocamp.com
