setuptools>=8.0
c2cgeoportal/tests/testegg/dist/testegg-1.0.tar.gz
nose
nosexcover
unittest2
flake8
pep8-naming
flake8-copyright
c2c.template>=1.2.dev
JSTools
c2c.cssmin
transifex-client
alembic
-r doc/requirements.txt
