setuptools>=8.0
c2cgeoportal/tests/testegg/dist/testegg-1.0.tar.gz
c2c.template>=1.2.dev
c2c.cssmin
alembic
flake8==3.0.4
flake8-copyright==0.2.0
mccabe==0.5.2
nose
nosexcover
pep8-naming==0.4.1
pycodestyle==2.0.0
pyflakes==1.2.3
transifex-client
unittest2
JSTools
-r doc/requirements.txt
