include *.txt *.ini *.cfg *.rst
recursive-include c2cgeoportal *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml *.mo
recursive-include c2cgeoportal/scaffolds *
exclude .build
prune c2cgeoportal/tests
prune c2cgeoportal/static/examples
prune c2cgeoportal/static/adminapp/js
prune c2cgeoportal/static/adminapp/css
prune c2cgeoportal/static/lib/checkboxtree/library
exclude c2cgeoportal/static/lib/checkboxtree/index.html
exclude c2cgeoportal/static/lib/checkboxtree/jquery.checkboxtree.css
exclude c2cgeoportal/static/lib/checkboxtree/jquery.checkboxtree.js
exclude c2cgeoportal/static/lib/checkboxtree/minify.sh
prune c2cgeoportal/static/lib/openlayers/apidoc_config
prune c2cgeoportal/static/lib/openlayers/art
prune c2cgeoportal/static/lib/openlayers/build
prune c2cgeoportal/static/lib/openlayers/doc
prune c2cgeoportal/static/lib/openlayers/doc_config
prune c2cgeoportal/static/lib/openlayers/examples
prune c2cgeoportal/static/lib/openlayers/lib
prune c2cgeoportal/static/lib/openlayers/tests
prune c2cgeoportal/static/lib/openlayers/tools
