[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "==1.19.112"  # Work with Object storage
Babel = "==2.9.1"  # i18n
bandit = "==1.7.10"  # lint
beautifulsoup4 = "==4.9.3"  # admin tests
coverage = "==5.4"  # Build coverage XML for Codacy
Jinja2 = "==3.1.6"  # c2c.template
lingua = "==4.14"  # i18n
PasteScript = "==3.2.1"  # geoportal pcreate
polib = "==1.1.1"  # i18n
pykwalify = "==1.7.0"  # Validate config
pytest-cov = "==2.11.1"  # tests
transifex-client = "==0.14.4"  # Makefile
WebTest = "==2.0.35"  # admin tests
prospector = {extras = ["with_mypy", "with_bandit", "with_pyroma"],version = "==1.3.1"}
mypy = "==0.800"
flake8 = "==3.8.4"
# Lock dependencies
attrs = "==20.3.0"
botocore = "==1.20.112"
certifi = "==2020.12.5"
chardet = "==4.0.0"
click = "==8.0.4"
docopt = "==0.6.2"
docutils = "==0.15.2"
dodgy = "==0.2.1"
flake8-polyfill = "==1.0.2"
gitdb = "==4.0.12"
gitpython = "==3.1.44"
idna = "==2.10"
iniconfig = "==1.1.1"
isort = "==4.3.21"
jmespath = "==0.10.0"
lazy-object-proxy = "==1.4.3"
markupsafe = "==2.1.5"
mccabe = "==0.6.1"
mypy-extensions = "==0.4.4"
packaging = "==20.9"
paste = "==3.5.3"
pastedeploy = "==2.1.1"
pbr = "==5.5.1"
pep8-naming = "==0.10.0"
pluggy = "==0.13.1"
py = "==1.10.0"
pyasn1 = "==0.4.8"
pycodestyle = "==2.6.0"
pydocstyle = "==5.1.1"
pyflakes = "==2.2.0"
pygments = "==2.7.4"
pylint = "==2.5.3"
pylint-celery = "==0.3"
pylint-django = "==2.1.0"
pylint-flask = "==0.6"
pylint-plugin-utils = "==0.6"
pyparsing = "==2.4.7"
pyroma = "==3.0.1"
pytest = "==6.2.5"
python-dateutil = "==2.8.2"
python-slugify = "==4.0.1"
pytz = "==2021.1"
pyyaml = "==5.4.1"
requirements-detector = "==0.7"
rsa = "==4.5"
s3transfer = "==0.4.2"
setoptconf = "==0.3.0"
six = "==1.15.0"
smmap = "==3.0.5"
snowballstemmer = "==2.1.0"
soupsieve = "==2.1"
stevedore = "==3.3.3"
text-unidecode = "==1.3"
toml = "==0.10.2"
typed-ast = "==1.4.3"
typing-extensions = "==3.7.4.3"
waitress = "==2.1.2"
webob = "==1.8.9"
wrapt = "==1.12.1"
zipp = "==3.19.3"

[packages]
alembic = "==1.5.8"  # geoportal
"c2c.template" = "==2.3.0"  # geoportal
c2cgeoform = "==2.1.27"  # commons
colander = "==1.8.3"  # commons, admin
ColanderAlchemy = "==0.3.4"  # commons
deform = "==2.0.15"  # commons, admin
defusedxml = "==0.6.0"  # geoportal
"dogpile.cache" = "==1.0.2"  # geoportal
Fiona = "==1.10.1"  # geoportal raster
GeoAlchemy2 = "==0.8.5"  # commons, geoportal
geojson = "==2.5.0"  # geoportal
getitfixed = "==1.0.29"  # geoportal
isodate = "==0.6.1"  # geoportal
Mako = "==1.2.4"  # geoportal
OWSLib = "==0.28.1"  # geoportal
papyrus = "==2.4"  # commons, geoportal
passwordgenerator = "==1.4"  # # geoportal
psycopg2-binary = "==2.8.6"  # geoportal
pycryptodome = "==3.19.1"  # geoportal
pyproj = "==3.0.1"  # admin, other?
pyotp = "==2.5.1"  # geoportal
pyramid = "==1.10.8"  # geoportal
pyramid_debugtoolbar = "==4.9"  # geoportal
pyramid-jinja2 = "==2.8"  # admin
pyramid_mako = "==1.1.0"  # geoportal
pyramid_multiauth = "==0.9.0"  # geoportal
pyramid_tm = "==2.4"  # geoportal
python-dateutil = "==2.8.2"  # geoportal
PyYAML = "==5.4.1"  # geoportal
rasterio = "==1.2.10"  # geoportal raster
requests = "==2.32.3"  # geoportal
redis = "==4.3.6"  # geoportal cache
Shapely = "==1.7.1"  # geoportal
SQLAlchemy = "==1.3.24"
transaction = "==3.0.1"  # commons, geoportal
translationstring = "==1.4"  # admin
"zope.event" = "==4.4"  # commons, geoportal
c2cwsgiutils = {version = "==4.1.4", extras = ["broadcast", "profiler", "standard"]}
oauthlib = "==3.2.2"
setuptools = "==70.0.0"
# Lock
affine = "==2.3.1"
argparse = "==1.4.0"
attrs = "==20.3.0"
babel = "==2.9.1"
beaker = "==1.11.0"
beaker-redis = "==1.1.0"
boltons = "==20.2.1"
bottle = "==0.12.25"
cee-syslog-handler = "==0.6.0"
certifi = "==2024.7.4"
chameleon = "==3.8.1"
chardet = "==4.0.0"
click = "==8.0.4"
click-plugins = "==1.1.1"
cligj = "==0.7.2"
cornice = "==5.0.3"
decorator = "==4.4.2"
graphviz = "==0.16"
gunicorn = "==23.0.0"
hupper = "==1.10.3"
idna = "==3.7"
iso8601 = "==0.1.16"
jinja2 = "==3.1.6"
linesman = "==0.3.2"
lingua = "==4.14"
lxml = "==4.9.4"
markupsafe = "==2.1.5"
munch = "==2.5.0"
netifaces = "==0.10.9"
numpy = "==1.22.4"
objgraph = "==3.5.0"
paste = "==3.5.3"
pastedeploy = "==2.1.1"
pbr = "==5.5.1"
peppercorn = "==0.6"
pillow = "==10.3.0"
pipfile = "==0.0.2"
plaster = "==1.0"
plaster-pastedeploy = "==0.7"
polib = "==1.1.1"
psycopg2 = "==2.8.6"
pygments = "==2.15.1"
pygraphviz = "==1.7"
pyparsing = "==2.4.7"
pyramid-beaker = "==0.8"
pyramid-chameleon = "==0.3"
python-editor = "==1.0.4"
pytz = "==2021.1"
pyyaml-include = "==1.2.post2"
"repoze.lru" = "==0.7"
sentry-sdk = "==2.8.0"
six = "==1.15.0"
snuggs = "==1.4.7"
sqlalchemy-utils = "==0.36.8"
stevedore = "==3.3.3"
toml = "==0.10.2"
ujson = "==5.4.0"
urllib3 = "==1.26.20"
venusian = "==3.0.0"
waitress = "==2.1.2"
webob = "==1.8.9"
"zope.deprecation" = "==4.4.0"
# Lock dependencies
pyramid-debugtoolbar = "==4.9"
pyramid-mako = "==1.1.0"
pyramid-multiauth = "==0.9.0"
pyramid-tm = "==2.4"
simplejson = "==3.17.6"
"zope.interface" = "==5.2.0"
"zope.sqlalchemy" = "==1.3"

[requires]
python_version = "3.8"
