[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "==1.17.9"  # Work with Object storage
Babel = "==2.7.0"  # i18n
bandit = "==1.6.2"  # lint
beautifulsoup4 = "==4.8.1"  # admin tests
black = "==19.10b0 "  # lint
coverage = "==5.0.3"  # Build coverage XML for Codacy
flake8 = "==3.6.0"  # lint, TODO remove filter on pyflakes
flake8-per-file-ignores = "==0.8.1"  # lint
isort = "==4.3.21"  # lint
Jinja2 = "==2.10.3"  # c2c.template
lingua = "==4.14"  # i18n
PasteScript = "==3.2.0"  # geoportal pcreate
polib = "==1.1.0"  # i18n
pykwalify = "==1.7.0"  # Validate config
pytest-cov = "==2.8.1"  # tests
pytest-selenium = "==1.17.0"  # admin tests
transifex-client = "==0.13.7"  # Makefile
WebTest = "==2.0.33"  # admin tests
prospector = {extras = ["with_mypy"],version = "==1.2.0"}

[packages]
alembic = "==1.3.3"  # geoportal
"c2c.template" = "==2.1.0"  # geoportal
c2cgeoform = "==2.1.7"  # commons
colander = "==1.7.0"  # commons, admin
ColanderAlchemy = "==0.3.3"  # commons
deform = "==2.0.7"  # commons, admin
defusedxml = "==0.6.0"  # geoportal
"dogpile.cache" = "==0.9.0"  # geoportal
Fiona = "==1.8.9"  # geoportal raster
GeoAlchemy2 = "==0.6.2"  # commons, geoportal
geojson = "==2.5.0"  # geoportal
getitfixed = "==1.0.4"  # geoportal
isodate = "==0.6.0"  # geoportal
Mako = "==1.1.1"  # geoportal
OWSLib = "==0.19.0"  # geoportal
papyrus = "==2.4"  # commons, geoportal
passwordgenerator = "==1.4"  # # geoportal
psycopg2-binary = "==2.8.2"  # geoportal
pycryptodome = "==3.9.0"  # geoportal
pyproj = "==2.4.2.post1"  # admin, other?
pyotp = "==2.3.0"  # geoportal
pyramid = "==1.10.4"  # geoportal
pyramid_debugtoolbar = "==4.6"  # geoportal
pyramid-jinja2 = "==2.8"  # admin
pyramid_mako = "==1.1.0"  # geoportal
pyramid_multiauth = "==0.9.0"  # geoportal
pyramid_tm = "==2.4"  # geoportal
python-dateutil = "==2.8.1"  # geoportal
PyYAML = "==5.3"  # geoportal
rasterio = "==1.1.2"  # geoportal raster
requests = "==2.22.0"  # geoportal
redis = "==3.3.8"  # geoportal cache
Shapely = "==1.7b1"  # geoportal
SQLAlchemy = "==1.3.13"
transaction = "==3.0.0"  # commons, geoportal
translationstring = "==1.3"  # admin
"zope.event" = "==4.4"  # commons, geoportal

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
