[tool.black]
line-length = 110
target-version = ['py38']

[tool.poetry]
name = 'c2cgeoportal'
version = '0.0.0'
description = 'Not used'
authors = []

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
alembic = "1.8.1" # geoportal
"c2c.template" = "2.3.0" # geoportal
c2cgeoform = "2.1.27" # commons
colander = "1.8.3" # commons, admin
ColanderAlchemy = "0.3.4" # commons
cookiecutter = "2.1.1" # geoportal
deform = "2.0.15" # commons, admin
defusedxml = "0.7.1" # geoportal
"dogpile.cache" = "1.1.8" # geoportal
Fiona = "1.8.22" # geoportal raster
GeoAlchemy2 = "0.12.5" # commons, geoportal
geojson = "2.5.0" # geoportal
getitfixed = "1.0.29" # geoportal
isodate = "0.6.1" # geoportal
Mako = "1.2.4" # geoportal
OWSLib = "0.27.2" # geoportal
papyrus = "2.5" # commons, geoportal
passwordgenerator = "1.5.1" # geoportal
psycopg2 = "2.9.5" # geoportal
pycryptodome = "3.16.0" # geoportal
pyproj = "3.4.1" # admin, other?
pyotp = "2.8.0" # geoportal
pyramid = "2.0" # geoportal
pyramid_debugtoolbar = "4.9" # geoportal
pyramid-jinja2 = "2.10" # admin
pyramid_mako = "1.1.0" # geoportal
pyramid_multiauth = "1.0.1" # geoportal
pyramid_tm = "2.5" # geoportal
python-dateutil = "2.8.2" # geoportal
PyYAML = "6.0" # geoportal
rasterio = "1.3.4" # geoportal raster
requests = "2.28.1" # geoportal
redis = "4.4.0" # geoportal cache
Shapely = "1.8.5.post1" # geoportal
SQLAlchemy = "1.4.45"
transaction = "3.0.1" # commons, geoportal
translationstring = "1.4" # admin
"zope.event" = "4.6" # commons, geoportal
c2cwsgiutils = { version = "5.1.6", extras = ["broadcast", "standard"] }
oauthlib = "3.2.2"
tilecloud = "1.8.2" # geoportal
azure-storage-blob = "12.14.1"
basicauth = "0.4.1"
prospector = { extras = ["with_mypy", "with_bandit"], version = "1.8.3" }
setuptools = "65.6.3"

[tool.poetry.dev-dependencies]
Babel = "2.11.0" # i18n
beautifulsoup4 = "4.11.1" # admin tests
Jinja2 = "3.1.2" # c2c.template
lingua = "4.15.0" # i18n
PasteScript = "3.2.1" # geoportal pcreate
polib = "1.1.1" # i18n
pykwalify = "1.8.0" # Validate config
pytest = "7.2.0" # tests
WebTest = "3.0.0" # admin tests
types-pytz = "2022.6.0.1"
types-pyyaml = "6.0.12.2"
types-python-dateutil = "2.8.19.5"
types-requests = "2.28.11.7"
types-pkg-resources = "0.1.3"
mappyfile = "0.9.7"
c2cciutils = { version = "1.4.4", extras = ["checks"] }
mapbox-vector-tile = "1.2.1"
responses = "0.22.0"
