astroid==2.3.2  # pylint
awscli==1.16.156  # Work with Object storage
Babel==2.7.0  # i18n
bandit==1.6.2  # lint
beautifulsoup4==4.8.1  # admin tests, rq.filter: <4.7
black==19.10b0   # lint
boto3==1.10.2  # Tile generation
bottle==0.12.16  # geoportal
codacy-coverage==1.3.11  # Codacy send report
coverage==4.5.3  # Build coverage XML for Codacy
flake8==3.7.7  # lint, TODO remove filter on pyflakes
flake8-copyright==0.2.2  # lint
flake8-mypy==17.8.0  # lint
glob2==0.7  # ngeo
htmlmin==0.1.12  # ngeo
isort==4.3.21  # lint
Jinja2==2.10.3  # c2c.template
lingua==4.13  # i18n
mccabe==0.6.1  # lint
mypy==0.740  # lint
pep8==1.7.1  # lint
pep8-naming==0.8.2  # Lint
polib==1.1.0  # i18n
pyflakes==2.1.1  # lint, flake8
pykwalify==1.7.0  # Validate config
pylint==2.4.1  # lint
Pillow==6.2.1  # Tile generation, rq.filter: < 6.0.0
pytest-cov==2.8.1  # tests
pytest-selenium==1.17.0  # admin tests
six==1.13.0  # required by transifex, rq.filter: ==1.11.0
transifex-client==0.13.6  # Makefile
urllib3==1.23  # required by transifex, rq.filter: <1.24
waitress==1.3.0  # pcreate
WebOb==1.8.5  # geoportal test
WebTest==2.0.33  # admin tests
