# This file is used to render the examples layers, it can be deleted.
# Layer without any restriction
LAYER
    NAME "borders"
    TYPE POLYGON
    STATUS ON
    TOLERANCE 10
    TOLERANCEUNITS PIXELS
    TEMPLATE "fooOnlyForWMSGetFeatureInfo" # For GetFeatureInfo
    EXTENT -31 27 45 71 # Useful for better performance but not mandatory
    CONNECTIONTYPE POSTGIS
    PROCESSING "CLOSE_CONNECTION=DEFER"
    CONNECTION "host=${PGHOST_SLAVE} port=${PGPORT_SLAVE} sslmode=${PGSSLMODE} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
    DATA "geom FROM (SELECT geo.* FROM data.europe_borders as geo) as foo USING unique gid USING srid=4326"
    PROJECTION
        "init=epsg:4326"
    END
    METADATA
        "wms_title" "Borders of Europe" # For WMS
        "wms_srs" "EPSG:{{cookiecutter.srid}}" # For WMS
        "wfs_enable_request" "*" # Enable WFS for this layer
        "gml_include_items" "all" # For GetFeatureInfo and WFS GetFeature (QueryBuilder)
        "ows_geom_type" "multipolygon" # For returning geometries in GetFeatureInfo
        "ows_geometries" "geom" # For returning geometries in GetFeatureInfo
        "wms_metadataurl_href" "https://www.example.com/bar" # For metadata URL
        "wms_metadataurl_format" "text/html" # For metadata URL
        "wms_metadataurl_type" "TC211" # For metadata URL
    END
    CLASS
        NAME "borders"
        STYLE
            OUTLINECOLOR 0 0 0
        END
    END
END
# Layer with restriction area
LAYER
    NAME "density"
    TYPE POLYGON
    STATUS ON
    TOLERANCE 10
    TOLERANCEUNITS PIXELS
    TEMPLATE "fooOnlyForWMSGetFeatureInfo" # For GetFeatureInfo
    EXTENT -31 27 45 71
    CONNECTIONTYPE POSTGIS
    PROCESSING "CLOSE_CONNECTION=DEFER"
    CONNECTION "host=${PGHOST_SLAVE} port=${PGPORT_SLAVE} sslmode=${PGSSLMODE} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
    DATA "geom FROM (SELECT geo.*, (pop2005/(area*10)) AS density FROM data.europe_borders AS geo WHERE ARRAY[%role_ids%]::integer[] && ARRAY(${MAPSERVER_DATA_NOAREA_SUBSELECT} 'density')) as foo USING unique gid USING srid=4326"
    PROJECTION
        "init=epsg:4326"
    END
    VALIDATION
        "default_role_ids" ""
        "role_ids" "^-?[0-9,]*$"
    END
    METADATA
        "wms_title" "Density of population" # For WMS
        "wms_srs" "EPSG:{{cookiecutter.srid}}" # For WMS
        "wfs_enable_request" "*" # Enable WFS for this layer
        "gml_include_items" "all" # For GetFeatureInfo and WFS GetFeature (QueryBuilder)
        "ows_geom_type" "multipolygon" # For returning geometries in GetFeatureInfo
        "ows_geometries" "geom" # For returning geometries in GetFeatureInfo
        "wms_metadataurl_href" "https://www.example.com/bar" # For metadata URL
        "wms_metadataurl_format" "text/html" # For metadata URL
        "wms_metadataurl_type" "TC211" # For metadata URL
    END
    LABELITEM "name"
    CLASS
        NAME "[ 6 - 50 ["
        EXPRESSION ( [density] < 49.73 )
        STYLE
            OUTLINECOLOR 0 0 0
            COLOR 254 229 217
        END
        LABEL
            COLOR 0 0 0
            FONT "noto_bold"
            TYPE TRUETYPE
            SIZE 8
            OUTLINEWIDTH 2
            POSITION AUTO
            PARTIALS FALSE
            OUTLINECOLOR 253 247 244
            MINFEATURESIZE 8
            MINDISTANCE 1000
            BUFFER 10
        END
        LEADER
            GRIDSTEP 400 # number of pixels between positions that are tested
            MAXDISTANCE 300 # distance in pixels that leader text can be drawn
            STYLE
                COLOR 255 255 255 # normal line styles are supported
                WIDTH 3
            END
        END
    END
    CLASS
        NAME "[ 50 - 92 ["
        EXPRESSION ( ( [density] >= 49.73 ) AND ( [density] < 91.94 ) )
        STYLE
            OUTLINECOLOR 0 0 0
            COLOR 252 174 145
        END
        LABEL
            COLOR 0 0 0
            FONT "noto_bold"
            TYPE TRUETYPE
            SIZE 8
            OUTLINEWIDTH 2
            POSITION AUTO
            PARTIALS FALSE
            OUTLINECOLOR 252 223 213
            MINFEATURESIZE 8
            MINDISTANCE 1000
            BUFFER 10
        END
        LEADER
            GRIDSTEP 400 # number of pixels between positions that are tested
            MAXDISTANCE 300 # distance in pixels that leader text can be drawn
            STYLE
                COLOR 255 255 255 # normal line styles are supported
                WIDTH 3
            END
        END
    END
    CLASS
        NAME "[ 92 - 115 ["
        EXPRESSION ( ( [density] >= 91.94 ) AND ( [density] < 115.08 ) )
        STYLE
            OUTLINECOLOR 0 0 0
            COLOR 251 106 74
        END
        LABEL
            COLOR 0 0 0
            FONT "noto_bold"
            TYPE TRUETYPE
            SIZE 8
            OUTLINEWIDTH 2
            POSITION AUTO
            PARTIALS FALSE
            OUTLINECOLOR 251 220 213
            MINFEATURESIZE 8
            MINDISTANCE 1000
            BUFFER 10
        END
        LEADER
            GRIDSTEP 40 # number of pixels between positions that are tested
            MAXDISTANCE 300 # distance in pixels that leader text can be drawn
            STYLE
                COLOR 255 255 255 # normal line styles are supported
                WIDTH 3
            END
        END
    END
    CLASS
        NAME "[ 115 - 210 ["
        EXPRESSION ( ( [density] >= 115.08 ) AND ( [density] < 210.11 ) )
        STYLE
            OUTLINECOLOR 0 0 0
            COLOR 222 45 38
        END
        LABEL
            COLOR 0 0 0
            FONT "noto_bold"
            TYPE TRUETYPE
            SIZE 8
            OUTLINEWIDTH 2
            POSITION AUTO
            PARTIALS FALSE
            OUTLINECOLOR 237 189 187
            MINFEATURESIZE 8
            MINDISTANCE 1000
            BUFFER 10
        END
        LEADER
            GRIDSTEP 40 # number of pixels between positions that are tested
            MAXDISTANCE 300 # distance in pixels that leader text can be drawn
            STYLE
                COLOR 255 255 255 # normal line styles are supported
                WIDTH 3
            END
        END
    END
    CLASS
        NAME "[ 210 - 18 475 ]"
        EXPRESSION ( ( [density] >= 210 ) AND ( [density] <= 18475 ) )
        STYLE
            OUTLINECOLOR 0 0 0
            COLOR 165 15 21
        END
        LABEL
            COLOR 0 0 0
            FONT "noto_bold"
            TYPE TRUETYPE
            SIZE 8
            OUTLINEWIDTH 2
            POSITION AUTO
            PARTIALS FALSE
            OUTLINECOLOR 208 184 185
            MINFEATURESIZE 8
            MINDISTANCE 1000
            BUFFER 10
        END
        LEADER
            GRIDSTEP 40 # number of pixels between positions that are tested
            MAXDISTANCE 300 # distance in pixels that leader text can be drawn
            STYLE
                COLOR 255 255 255 # normal line styles are supported
                WIDTH 3
            END
        END
    END
END
# Raster layer (with a tile index)
LAYER
    NAME "topo"
    GROUP "plan"
    TYPE RASTER
    STATUS ON
    PROCESSING "RESAMPLE=AVERAGE"
    TILEINDEX "raster/topo"
    TILEITEM "LOCATION"
    MINSCALEDENOM 25000
END
