#
# MapServer Mapfile
#
# Test requests:
#
# WMS GetCapabilities:
# /mapserv?service=wms&version=1.1.1&request=getcapabilities
#
# WMS GetMap:
# /mapserv?service=wms&version=1.1.1&request=getmap&bbox=-180,-90,180,90&layers=countries&width=600&height=400&srs=EPSG:4326&format=image/png
#
# WMS GetFeatureInfo:
# /mapserv?service=wms&version=1.1.1&request=getfeatureinfo&bbox=-180,-90,180,90&layers=countries&query_layers=countries&width=600&height=400&srs=EPSG:4326&format=image/png&x=180&y=90&info_format=application/vnd.ogc.gml
#
MAP
    NAME "{{cookiecutter.package}}"

    # For Windows users: uncomment this line and adapt it to your
    # own mapserver's nad folder (use regular slash "/")
    # CONFIG "PROJ_LIB" "C:/path/to/ms4w/proj/nad"

    EXTENT {{cookiecutter.extent_mapserver}} ## should be defined for better performance
    UNITS METERS

    # RESOLUTION and DEFRESOLUTION default to 96. If you
    # change RESOLUTION to some other value, also change
    # DEFRESOLUTION. See
    # https://mapserver.org/development/rfc/ms-rfc-55.html
    RESOLUTION 96 ## Also set in Openlayers especially for legends
    DEFRESOLUTION 96

    # MAXSIZE should not be less than 5000 for MF print on A3
    MAXSIZE 5000
    IMAGECOLOR 255 255 255
    STATUS ON

    FONTSET "fonts.conf"
    #SYMBOLSET "symbol.sym"

    CONFIG "CPL_VSIL_CURL_USE_CACHE" "TRUE"
    CONFIG "CPL_VSIL_CURL_CACHE_SIZE" "128000000"
    CONFIG "CPL_VSIL_CURL_USE_HEAD" "FALSE"
    CONFIG "GDAL_DISABLE_READDIR_ON_OPEN" "TRUE"

    OUTPUTFORMAT
        NAME "jpeg"
        DRIVER "AGG/JPEG"
        MIMETYPE "image/jpeg"
        IMAGEMODE RGB
        EXTENSION "jpeg"
        FORMATOPTION "QUALITY=75,PROGRESSIVE=TRUE"
    END
    OUTPUTFORMAT
        NAME "png"
        DRIVER "AGG/PNG"
        MIMETYPE "image/png"
        IMAGEMODE RGBA
        EXTENSION "png"
        FORMATOPTION "INTERLACE=OFF"
        FORMATOPTION "QUANTIZE_DITHER=OFF"
        FORMATOPTION "QUANTIZE_FORCE=ON"
        FORMATOPTION "QUANTIZE_COLORS=256"
    END
    PROJECTION
        "init=epsg:{{cookiecutter.srid}}"
    END
    WEB
        METADATA
            "ows_enable_request" "*"
            "ows_title" "changeme"
            "ows_abstract" "changeme"
            "ows_onlineresource" "${VISIBLE_WEB_PROTOCOL}://${VISIBLE_WEB_HOST}${VISIBLE_ENTRY_POINT}mapserv_proxy?ogcserver=MapServer"
            "ows_srs" "EPSG:{{cookiecutter.srid}}"
            "wms_allow_getmap_without_styles" "true"
            "oga_onlineresource" "${VISIBLE_WEB_PROTOCOL}://${VISIBLE_WEB_HOST}${VISIBLE_ENTRY_POINT}mapserv_proxy/MapServer/ogcapi"
        END
    END
    LEGEND
        LABEL
            ENCODING "UTF-8"
            TYPE TRUETYPE
            FONT "Arial"
            SIZE 9
        END
    END
    INCLUDE "demo.map"
END
