inherits:
  - duplicated
  - utils:base
  - utils:fix
  - utils:no-design-checks

pylint:
  options:
    extension-pkg-allow-list: qgis

mypy:
  options:
    python-version: '3.12'

ruff:
  options:
    target-version: py312

pyroma:
  run: false
