inherits:
  - duplicated
  - utils:base
  - utils:fix
  - utils:no-design-checks

pylint:
  options:
    extension-pkg-allow-list: qgis
mypy:
  options:
    python_version: '3.10'

pyroma:
  run: false
