---
version: '2.3'

services:
  db:
    image: camptocamp/geomapfish-test-db
    # ports:
    #   - 5432:5432
    environment:
      - POSTGRES_USER=www-data
      - POSTGRES_PASSWORD=www-data
      - POSTGRES_DB=geomapfish_tests

  qgisserver:
    image: camptocamp/geomapfish-qgisserver
    volumes:
      - ./acceptance-tests/project:/etc/qgisserver
    environment:
      - PGHOST=db
      - PGPORT=5432
      - PGUSER=www-data
      - PGPASSWORD=www-data
      - PGDATABASE=geomapfish_tests
      - PGSCHEMA=main
      - PGSCHEMA_STATIC=main_static
      - PGSERVICEFILE=/etc/qgisserver/pg_service.conf
      - GEOMAPFISH_OGCSERVER=qgisserver
      - QGIS_PROJECT_FILE=/etc/qgisserver/project.qgz
      - QGIS_SERVER_IGNORE_BAD_LAYERS=true
      - LOG_LEVEL=DEBUG
      - QGIS_SERVER_LOG_LEVEL=0
      - QGIS_CATCH_SEGV=1

  tests:
    image: camptocamp/geomapfish
    volumes:
      - ./acceptance-tests:/tests
    environment:
      - PGHOST=db
      - PGPORT=5432
      - PGUSER=www-data
      - PGPASSWORD=www-data
      - PGDATABASE=geomapfish_tests
      - PGSCHEMA=main
      - PGSCHEMA_STATIC=main_static
    command:
      - tail
      - -f
      - /dev/null
