[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.9"  # lint
flake8-copyright = "==0.2.2"  # lint
flake8-mypy = "==17.8.0"  # lint
mccabe = "==0.6.1"  # lint
mypy = "==0.770"  # lint
pep8 = "==1.7.1"  # lint
pep8-naming = "==0.10.0"  # Lint
pyflakes = "==2.1.1"  # lint, flake8
pylint = "==2.5.1"  # lint
bandit = "==1.6.2"
isort = "==4.3.21"

[packages]
papyrus = "==2.4"  # commons
redis = "==3.5.0"
transaction = "==3.0.0"  # commons
"c2c.template" = "==2.1.0"
GeoAlchemy2 = "==0.7.0"
SQLAlchemy = "==1.3.16"  # commons
"zope.event" = "==4.4"  # commons
"zope.sqlalchemy" = "==1.2"  # commons
shapely = "==1.7.0"

[requires]
python_version = "3.5"
