[tool.mypy]
python_version = 3.10
warn_redundant_casts = true
warn_unused_ignores = true
check_untyped_defs = true
skip_version_check = true
ignore_missing_imports = true

[tool.black]
line-length = 110
target-version = ['py310']

[tool.isort]
profile = "black"
line_length = 110
known_third_party = "c2cwsgiutils,c2cgeoform,qgis,pytest"
known_first_party = ["geomapfish_qgisserver", "c2cgeoportal_commons"]

[tool.poetry]
name = 'c2cgeoportal'
version = '0.0.0'
description = 'Not used'
authors = []

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
c2cwsgiutils = { extras = ["broadcast"], version = "6.1.5" }
papyrus = "2.6.2" # commons
transaction = "5.0" # commons
"c2c.template" = "2.4.2"
GeoAlchemy2 = "0.16.0"
SQLAlchemy = "2.0.36" # commons
"zope.event" = "5.0" # commons
"zope.sqlalchemy" = "3.1" # commons
shapely = "2.0.6"
cee-syslog-handler = "0.6.0"
psycopg2 = "2.9.10"
pytz = "2024.2"

[tool.poetry.dev-dependencies]
prospector = { extras = ["with_mypy", "with_bandit"], version = "1.13.3" }
prospector-profile-duplicated = "1.9.0"
prospector-profile-utils  = "1.14.1"
types-pyyaml = "6.0.12.20240917"
pytest = "8.3.4"
