c2cgeoform==2.0.1  # commons
c2cwsgiutils==2.19.2  # commons, rq.filter: <3
c2c.template==2.2.1  # geoportal
ColanderAlchemy==0.3.4  # commons
colander==1.7.0  # commons, admin
deform==2.0.15  # commons, admin
GeoAlchemy2==0.6.3  # commons, geoportal
geojson==2.4.1  # geoportal
iso8601==0.1.16  # deform, by default the version 0.1.12 is installed and is incompatible with deform, rq.filter: <=0.1.11
papyrus==2.4  # commons, geoportal
redis==4.3.6  # geoportal cache
SQLAlchemy==1.3.24
transaction==2.4.0  # commons, geoportal
jinja2>=2.11.3 # not directly required, pinned by Snyk to avoid a vulnerability
babel>=2.9.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
