c2cgeoform~=2.0.dev20190513  # commons
c2cwsgiutils~=2.19.2  # commons
c2c.template~=2.1.0
ColanderAlchemy~=0.3.3  # commons
colander~=1.7.0  # commons
deform~=2.0.7  # commons
GeoAlchemy2~=0.6.2  # commons
geojson~=2.4.1  # geoportal
papyrus~=2.4  # commons
pyotp~=2.3.0  # commons
redis~=3.3.8
SQLAlchemy~=1.3.3
transaction~=2.4.0  # commons
zope.event~=4.4  # commons
