<div id="search-tip">
    <p>
    Ici vous pouvez chercher des adresses, des lieux-dits, des parcelles, des coordonn&eacute;es
    </p>
    <p>
    Exemples de recherche :
    </p>
    <ul>
        <li><strong>adresses</strong> : pour Rue Daniel-Jeanrichard 7 2400 Le Locle, entrez <em><strong>Jeanrichard 7 locle</strong></em> ou <em><strong>jeanrichard 7 2400</strong></em></li>
        <li>une rue : pour Rue du Temple 72 2405 La Chaux-du Milieu, entrez <em><strong>Temple Chaux-du-Milieu</strong></em></li>
        <li><strong>lieux-dits ou noms locaux</strong> : </li>
        <li><strong>bien-fonds (parcelles ou immeubles) </strong> : pour le bien-fonds 3241 &agrave; Fleurier, entrez <em><strong>3241 Fleurier </strong></em>ou<em><strong> Fleurier 3241 </strong></em></li>
        <li><strong>coordonn&eacute;es</strong> :
        <ul>
            <li>syst&egrave;me national : entrez <em><strong>554320 209220</strong></em> ou </li>
            <li>longitude/latitude en WGS 84 : entrez <em><strong>6.75443&deg; 47.065345&deg;</strong></em></li>
        </ul>
        </li>
    </ul>
</div>

