{#
 # The MIT License (MIT)
 #
 # Copyright (c) Camptocamp SA
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy of
 # this software and associated documentation files (the "Software"), to deal in
 # the Software without restriction, including without limitation the rights to
 # use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
 # the Software, and to permit persons to whom the Software is furnished to do so,
 # subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 # FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 # COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 # IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 # CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 #}

{% extends "layout.jinja2" %}

{% block content %}
<div class="container-fluid">
{% if "table" in request.matchdict %}
{% for table in request.c2cgeoform_application.tables() %}
{% if table["key"] == request.matchdict["table"] %}
<h2>
{{ table["title"] }}
</h2>
{% endif %}
{% endfor %}
{% endif %}
{% if context.detail %}
<p>{{ context.detail }}</p>
{% else  %}
{% if "id" in request.matchdict and "table" in request.matchdict %}
<p>{{ _("Element id '{}' not found, probably deleted.").format(request.matchdict["id"]) }}</p>
{% else %}
  <p class="lead"><span class="font-semi-bold">404</span> Page Not Found</p>
{% endif %}
{% endif %}
</div>
{% endblock content %}
