{#
 # The MIT License (MIT)
 #
 # Copyright (c) Camptocamp SA
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy of
 # this software and associated documentation files (the "Software"), to deal in
 # the Software without restriction, including without limitation the rights to
 # use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
 # the Software, and to permit persons to whom the Software is furnished to do so,
 # subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 # FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 # COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 # IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 # CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 #}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">_('Toggle navigation')</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li role="presentation" class="{{'active' if request.matched_route.name == 'layertree' else ''}}">
          <a href="{{request.route_url('layertree')}}">{{_("Layer tree")}}</a>
        </li>
        {% for table in request.c2cgeoform_application.tables() %}
        <li role="presentation" class="{{'active' if request.matchdict and request.matchdict.get('table') == table['key'] else ''}}">
          <a href="{{request.route_url('c2cgeoform_index', table=table['key'])}}">{{request.localizer.translate(table['plural'])}}</a>
        </li>
        {% endfor %}
      </ul>

      <button id="help-button" type="button" class="btn btn-default navbar-btn navbar-right">{{_("Show help")}}</button>
      <script>
      $(function() {
        const key = 'adminShowHelp';

        const getCurrentValue = function() {
          // Get current value from localStorage
          // True by default
          return localStorage.getItem(key) !== 'false'
        }

        const apply = function(value) {
          // Apply some value on UI
          if (value) {
            $("#help-button").addClass("active")
            $(".help-block").removeClass("hidden")
          } else {
            $("#help-button").removeClass("active")
            $(".help-block").addClass("hidden")
          }
        }

        $("#help-button").click(function() {
          // Toggle value in localStorage and apply on UI
          localStorage.setItem(key, getCurrentValue() ? 'false' : 'true');
          apply(getCurrentValue())
        })

        // Apply current value from localStorage on UI
        apply(getCurrentValue())
      });
      </script>

      <ul class="nav navbar-nav navbar-right">
        <li id="language-dropdown" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.locale_name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for locale in request.registry.settings['available_locale_names'] %}
            <li><a href="{{request.route_url('c2cgeoform_locale', _query=(('language', locale),))}}">{{locale}}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
