{#
 # The MIT License (MIT)
 #
 # Copyright (c) Camptocamp SA
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy of
 # this software and associated documentation files (the "Software"), to deal in
 # the Software without restriction, including without limitation the rights to
 # use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
 # the Software, and to permit persons to whom the Software is furnished to do so,
 # subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 # FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 # COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 # IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 # CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 #}

{% extends "layout.jinja2" %}

{% block content %}
<div class="container-fluid">

  <div class="panel panel-default form-panel">
    <div class="panel-heading">
      Synchronization of OGC Server "{{ogcserver.name}}"
    </div>

    <div class="panel-body">
      <h3>Check layers validity</h3>
      <p>Download the WMS Capabilities and for each <code>LayerWMS</code> item in this OGC server:</p>
      <ul>
        <li>verify that all the layers specified in <code>layer</code> field exists on the remote server;</li>
        <li>if <code>style</code> field is not empty, it will also verify that the corresponding <code>&lt;Style&gt;</code> element is available;</li>
        <li>and finally populate <code>valid</code> and <code>invalid_reason</code> fields with the results.</li>
      </ul>
      <p>Note that <code>valid</code> and <code>invalid_reason</code> fields have no effect on the front office,
        they are only populated for your information in this back office.</p>
      <form method="POST" class="deform" id="form-check">
        <button type="submit" name="check" class="btn btn-default">{{_("Check layers validity")}}</button>
      </form>
      <hr/>
      <h3>Dry run synchronize</h3>
      <p>Run the synchronization and display the report but do not commit changes to the database.<p>
      <form method="POST" class="deform" id="form-dry-run">
        <button type="submit" name="dry-run" class="btn btn-default">{{_("Dry run synchronize")}}</button>
      </form>
      <hr/>
      <h3>Synchronize</h3>
      <p>Download the WMS Capabilities and for each &lt;Layer>&gt; element:</p>
      <ul>
        <li>if the <code>&lt;Layer&gt;</code> element does not contains any other <code>&lt;Layer&gt;</code> element, it will create a <code>LayerWMS</code> object;</li>
        <li>else if the Layer element is at top level, it will create a <code>Theme</code> object;</li>
        <li>else it will create a <code>Group</code> object.</li>
      </ul>
      <form method="POST" class="deform" id="form-synchronize">
        <div class="form-group">
            <input type="checkbox" name="force-parents" id="force-parents-field">
            <label for="force-parents-field" class="control-label">{{_("Force parents re-initialization.")}}</label>
        </div>
        <div class="form-group">
            <input type="checkbox" name="force-ordering" id="force-ordering-field">
            <label for="force-ordering-field" class="control-label">{{_("Force children sorting, current server at top and other servers at bottom.")}}</label>
        </div>
        <div class="form-group">
            <input type="checkbox" name="clean" id="clean">
            <label for="clean" class="control-label">{{_("Remove unexisting layers and empty groups.")}}</label>
        </div>
        <button type="submit" name="synchronize" class="btn btn-primary">{{_("Synchronize")}}</button>
      </form>
    </div>
  </div>

  {% if success %}
  <div class="alert alert-success">
    <div class="msg-lbl">OGC Server has been successfully synchronized.</div>
  </div>
  {% endif %}

  {% if report %}
  <pre>{{ report }}</pre>
  {% endif %}

</div>
{% endblock content %}
