c2c.template
c2cgeoform
ColanderAlchemy>=0.3.2  # why not with c2cgeoform ?
colander
deform
GeoAlchemy2
papyrus
pyramid
sqlalchemy
transaction
zope.event
jinja2>=2.11.3 # not directly required, pinned by Snyk to avoid a vulnerability
babel>=2.9.1 # not directly required, pinned by Snyk to avoid a vulnerability
