@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
//@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
//@include sencha-carousel;
@include sencha-form;
//@include sencha-msgbox;

// Your custom code goes here...

@include pictos-iconmask('add');
@include pictos-iconmask('minus1');

/* smaller font-size */
.x-list .x-list-item {
    font-size: 0.8em;
}

table.detail {
    width: 100%;
}

table.detail th {
    font-weight: bold;
    width: 30%;
}
table.detail th,
table.detail td {
    padding: 4px;
}

.coordinates {
    padding: 13px;
    font-size: 80%;
}

.x-tab .x-button-icon.layers, .x-button .x-button-icon.x-icon-mask.layers {
    -webkit-mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAQnAAAEJwBJs06NAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAORSURBVGje7dtPaFxVFMfxT2KbUtNUCwliS0kEaS20CFKqYAVRuzBVEKwrqxUUFHThv4WgCP5biAvxD4LooqC4UHFhCy60bmwRbGmhWGkXtbQQwZZEDEw0jcm4OSOPR6dOZt57M5M3iwOPmTv33O+d++49v3vPVa1WFWXow078gIO4B32FtqEg0GV4EMdRTdlx7MayrgfGSjyJM5cATduZKLuy64CxBi/ifAOgaTuPl7Cm44GxFm9hugnQtE1HXWs7Dhgb8BFmMwBN2yw+xoa2A2MrvsR8DqBpm8cX2Fo4MO7EtwVA1rPvcFeuwOjH/TjcRtC0HY429WcGjAE8ilMdBJq2U3gMA00DYwjPY6KDQdM2gecw1DAwRvAaproING1TeB0jdYExhvcx08WgaZvBexhLcNqCTzG3hEDTNheMW2A8lEt1idtBjCeH9Hbsx8ISglzAPtx6uUlrKQzx/4bwYpalsXjhZ7p5kmom8BiJKX6qG5ehVkLLoVjUJ7op0GhZPHRIqNlwKJmZPAwx8QCOFgh6LHz2t3sD4O7YicwL9EfsbNsGQGLN/hq3JD6/Dd9kCHoAdyTqvzl87sf2vPVwH+7FoUs07PukIMdNLe6E7Et15O0h+tPlDkWb+rLUw8vxME400NCfcF+tAbgBexsMYubxOW5M+B6v08FpOxFtXN6KHh7E0zjXxD/0c2y8XxF1jYYS+6tOVLQXGxOT4a4mJ8Nz0ebBxejhYbyCyQzewdN4HCui7mvwZmzB/o0PalFRnE48hF8y8DsZDMOX08OjeBeVHAOEwfB1Na6N5xXRKb/m4LcSTKNJPbwZnxQkFibxcpxMXIlnCorc5oJxc7v08DQu9PRwTw/39HBPD/f0cE8PZ6uHd+FIgaBHwmfxejiA++N5R0i5vEAPYEfabyHAqSF9Eo/UVAq24auM1vKFqGtbItbeEz7zH9L/M2mdxVO1DBxsCgV0sQnQi/HbTYlY+4k6mUDZT1qLXJZ+xwtYHb9dj3caFCSVKLs+IU+fxW+FLEstBh5/xJHrcEJyvlqn06biu1rZqyJt6UIhgUfGoWUFb2Nd1L0q8VrUhuOqxEh6A38WElrmLB5mI63p+sTENxDP66JTKoWIh4Ll4T/4LEbRdfgwp9yu+vKwTepoIeCLPxAvXcpDaZNaSpu2VNrEtNKmHpY2ubTU6cOlTRAv7RWA0l7yKO01ntJe1OrEq3j/AuAtwZIxNc7hAAAAAElFTkSuQmCC');
}

.x-button.zoomin {
    border-radius: 0.4em 0.4em 0 0;
}
.x-button.zoomout {
    border-radius: 0 0 0.4em 0.4em;
}

.locate.x-button-pressed {
  background-image: none;
  background-color: #1468a2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e93e4), color-stop(3%, #1676b9), color-stop(100%, #11598c));
  background-image: -webkit-linear-gradient(top, #1e93e4, #1676b9 3%, #11598c);
  background-image: linear-gradient(top, #1e93e4, #1676b9 3%, #11598c);
  border-color: black;
}

.locate.x-button-pressed .x-button-icon.x-icon-mask {
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(3%, #ffffff), color-stop(100%, #e8f4fc));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff 3%, #e8f4fc);
  background-image: linear-gradient(top, #ffffff, #ffffff 3%, #e8f4fc);
}

div.olMap {
    z-index: 0;
}

.olControlScaleLine {
    display: block;
    left: 3px;
    bottom: 3px;
    font-size: xx-small;
    padding: 4px;
    background: rgba(255,255,255,0.6);
    border-radius: 4px;
}
.olControlScaleLineBottom {
    display: none;
}
.olControlScaleLineTop {
    border: solid 2px black;
    color: black;
    border-top: none;
    text-align: center;
}

div.olControlZoom {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div.olControlZoom a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 32px;
    width: 32px;
    line-height: 28px;
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
    background: #130085; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 60, 136, 0.5);
    filter: alpha(opacity=80);
}
a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}
div.olControlZoom a:hover {
    background: #130085; /* fallback for IE */
    background: rgba(0, 60, 136, 0.7);
    filter: alpha(opacity=100);
}
@media only screen and (max-width: 600px) {
    div.olControlZoom a:hover {
        background: rgba(0, 60, 136, 0.5);
    }
}
.olLayerGrid .olTileImage {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.olControlAttribution {
    font-size: smaller;
    right: 3px;
    bottom: 3px;
    position: absolute;
    display: block;
    background: rgba(255,255,255,0.6);
    border-radius: 4px;
    padding: 2px;
}
