<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>API description</title>
    <link rel="shortcut icon" type="image/x-icon" href="${request.static_url('c2cgeoportal:static/proj/images/favicon.ico', qualified=True)}" />
    <script type="text/javascript" src="${(request.route_url('apiloader') + '?lang=%s%s') % (lang, '&debug' if debug else '')}"></script>
    <style type="text/css">
      TABLE.api {
          border: 1px solid darkgrey;
          margin: 10px auto;
      }
      TABLE.api TH {
          padding: 4px;
          text-align: center;
          font-weight: bold;
          background-color: lightgrey;
      }
    </style>
    <script>
    window.onload = function() {
        map1 = new c2cgeoportal.Map({
            div: 'map1',
            zoom: 12,
            easting: 645513,
            northing: 259897,
            height: 500,
            width: 800
        });
        map2 = new c2cgeoportal.Map({
            div: 'map2',
            zoom: 12,
            easting: 645513,
            northing: 259897,
            height: 500,
            width: 800,
            showMarker: true
        });
        map3 = new c2cgeoportal.Map({
            div: 'map3',
            zoom: 14,
            easting: 663382,
            northing: 244914,
            height: 500,
            width: 800,
            overlays: {
                'local': [
                    'TOPIC_Liegenschaften_ALL', // example of theme
                    'strom_station_grundriss' // example of layer
                ],
                'external': [
                    'TOPIC_Liegenschaften_LN'
                ]
            }
        });
    };
    </script>
</head>
<body>
<table class="api">
    <tr>
        <th>A map</th>
    </tr>
    <tr>
        <td>
            Add in the header:
            <pre>
&lt;script type="text/javascript" src="${request.route_url('apiloader')}"&gt;&lt;/script&gt;
&lt;script&gt;
    window.onload = function() {
        var map1 = new c2cgeoportal.Map({
            div: 'map1',
            zoom: 12,
            easting: 645513,
            northing: 259897,
            height: 400,
            width: 600
        });
    };
&lt;/script&gt;
            </pre>
            Add in the body where you want the map: <pre>&lt;div id='map1'&gt;&lt;/div&gt;</pre>
        </td>
    </tr>
    <tr>
        <td><div id='map1'></div></td>
    </tr>
</table>

<table class="api">
    <tr>
        <th>A map with a marker on its center</th>
    </tr>
    <tr>
        <td>
            Add in the header:
            <pre>
&lt;script type="text/javascript" src="${request.route_url('apiloader')}"&gt;&lt;/script&gt;
&lt;script&gt;
    window.onload = function() {
        var map2 = new c2cgeoportal.Map({
            div: 'map2',
            zoom: 12,
            easting: 645513,
            northing: 259897,
            height: 400,
            width: 600,
            showMarker: true
        });
    };
&lt;/script&gt;
            </pre>
            Add in the body where you want the map: <pre>&lt;div id='map2'&gt;&lt;/div&gt;</pre>
        </td>
    </tr>
    <tr>
        <td><div id='map2'></div></td>
    </tr>
</table>


<table class="api">
    <tr>
        <th>A map with a subset of overlays</th>
    </tr>
    <tr>
        <td>
            Add in the header:
            <pre>
&lt;script type="text/javascript" src="${request.route_url('apiloader')}"&gt;&lt;/script&gt;
&lt;script&gt;
    window.onload = function() {
        var map3 = new c2cgeoportal.Map({
            div: 'map3',
            zoom: 14,
            easting: 663382,
            northing: 244914,
            height: 500,
            width: 800,
            overlays: {
                'local': [
                    'TOPIC_Liegenschaften_ALL', // example of theme
                    'strom_station_grundriss' // example of layer
                ],
                'external': [
                    'TOPIC_Liegenschaften_LN'
                ]
            }
        });
    };
&lt;/script&gt;
            </pre>
            Add in the body where you want the map: <pre>&lt;div id='map3'&gt;&lt;/div&gt;</pre>
        </td>
    </tr>
    <tr>
        <td><div id='map3'></div></td>
    </tr>
</table>
</body>
</html>
