[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
alabaster = "==0.7.16" # theme
Pygments = "==2.15.1"
Sphinx = "==4.4.0"
sphinx-prompt = "==1.1.0"
setuptools = "==65.5.1"
# Lock
babel = "==2.9.1"
certifi = "==2023.7.22"
chardet = "==3.0.4"
docutils = "==0.16"
idna = "==2.8"
imagesize = "==1.2.0"
jinja2 = "==3.1.3"
markupsafe = "==2.1.4"
packaging = "==20.1"
pyparsing = "==2.4.7"
pytz = "==2019.3"
requests = "==2.31.0"
six = "==1.14.0"
snowballstemmer = "==2.0.0"
sphinxcontrib-applehelp = "==1.0.4"
sphinxcontrib-devhelp = "==1.0.2"
sphinxcontrib-jsmath = "==1.0.1"
sphinxcontrib-qthelp = "==1.0.3"
sphinxcontrib-serializinghtml = "==1.1.5"
urllib3 = "==1.26.18"

[requires]
python_version = "3.8"
