[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
alabaster = "==0.7.12"  # theme
Pygments = "==2.11.2"
Sphinx = "==4.5.0"
sphinx-prompt = "==1.5.0"
sphinx-jsonschema = "==1.18.0"
sphinx-argparse = "==0.3.1"
Sphinx-Substitution-Extensions = {extras = ["prompt"], version = "==2022.2.16"}
#tilecloud-chain = "==1.17.0.dev20220131092647"
