
/* Change navbar breakpoint to avoid having multiple lines.
 * source : https://coderwall.com/p/wpjw4w/change-the-bootstrap-navbar-breakpoint
 */

@media (min-width: 992px) {
  .navbar-default .navbar-collapse {
    padding-left: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1125px) {
  .navbar-default .navbar-nav>li>a {
    max-width: 8.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

/*csslint important: false*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
/*csslint important: true*/
