@import "navbar.css";

.nav>li>a {
  padding-left: 8px;
  padding-right: 8px;
}

.bootstrap-table th.actions,
.bootstrap-table td.actions
{
  width: 30px;
}

.icon-theme:before {
  content: "\e139";
}
.icon-group:before {
  content: "\e118";
}
.icon-layerv1:before {
  content: "v1";
}
.icon-l_wms:before {
  content: "\e060";
}
.icon-l_wmts:before {
  content: "\e011";
}

.ms-res-ctn .ms-res-item {
  color: initial;
}

.item-theme,
.item-layergroup_treeitem {
  margin-bottom: 0;
}
.item-theme .well,
.item-layergroup_treeitem .well {
  padding: 10px;
  margin-bottom: 5px;
}
.item-theme .deform-close-button {
  visibility: hidden;
}

#layertree .alert-info {
  margin-top : 30px;
}
