.nav>li>a {
  padding-left: 8px;
  padding-right: 8px;
}

#layertree-actions {
  margin-top: 5px;
  margin-bottom: 5px;
}
#layertree-table {
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
}

.icon-theme:before {
  content: "\e139";
}
.icon-group:before {
  content: "\e118";
}
.icon-layerv1:before {
  content: "v1";
}
.icon-l_wms:before {
  content: "\e060";
}
.icon-l_wmts:before {
  content: "\e011";
}

.ms-res-ctn .ms-res-item {
  color: initial;
}

.item-layergroup_treeitem {
  margin-bottom: 0;
}
.item-layergroup_treeitem .well {
  padding: 10px;
  margin-bottom: 5px;
}
