# This file is managed by c2cgeoportal, it contains the default services configuration

services:
  config:
    image: ${DOCKER_BASE}-config:${DOCKER_TAG}
    build:
      context: .
      args:
        SIMPLE: ${SIMPLE}
        PGSCHEMA: ${PGSCHEMA}
        GEOMAPFISH_VERSION: ${GEOMAPFISH_VERSION}
        GEOMAPFISH_MAIN_VERSION: ${GEOMAPFISH_MAIN_VERSION}
        GEOMAPFISH_MAIN_MINOR_VERSION: ${GEOMAPFISH_MAIN_MINOR_VERSION}
    user: www-data
    environment:
      - VISIBLE_WEB_HOST
      - VISIBLE_WEB_PROTOCOL
      - VISIBLE_ENTRY_POINT
      - PGHOST
      - PGHOST_SLAVE
      - PGPORT
      - PGPORT_SLAVE
      - PGUSER
      - PGPASSWORD
      - PGDATABASE
      - PGSSLMODE
      - PGSCHEMA_STATIC
      - SRID
      - SQLALCHEMY_POOL_RECYCLE
      - SQLALCHEMY_POOL_SIZE
      - SQLALCHEMY_MAX_OVERFLOW
      - SQLALCHEMY_SLAVE_POOL_RECYCLE
      - SQLALCHEMY_SLAVE_POOL_SIZE
      - SQLALCHEMY_SLAVE_MAX_OVERFLOW
      - GEOPORTAL_INTERNAL_URL
      - GEOPORTAL_INTERNAL_HOST
      - GEOPORTAL_INTERNAL_PORT
      - TILECLOUDCHAIN_INTERNAL_URL
      - TILECLOUDCHAIN_INTERNAL_HOST
      - TILECLOUDCHAIN_INTERNAL_PORT
      - MUTUALIZED_PRINT_URL
      - DISABLE_MUTUALIZED_PRINT
      - DISABLE_LOCAL_PRINT
      - DISABLE_MUTUALIZE
      - DISABLE_LOCAL
      - MAPSERVER_URL
      - QGISSERVER_URL
      - REDIS_HOST
      - REDIS_PORT
      - REDIS_DB
      - REDIS_SERVICENAME
      - REDIS_TIMEOUT
      - TILEGENERATION_SQS_QUEUE
      - TILEGENERATION_S3_BUCKET
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_DEFAULT_REGION
      - AWS_S3_ENDPOINT
      - AZURE_STORAGE_CONNECTION_STRING
      - AZURE_STORAGE_ACCOUNT
      - AZURE_STORAGE_ACCESS_TOKEN
      - AZURE_STORAGE_ACCESS_KEY
      - AZURE_STORAGE_SAS_TOKEN
      - TILEGENERATION_AZURE_CONTAINER
      - RASTER_BASE_PATH
      - DISABLE_HAPROXY_LOGGING
      - HAPROXY_LOGGING_OPTIONS

  print:
    image: camptocamp/mapfish_print:3.31
    user: www-data
    restart: unless-stopped
    environment:
      - CATALINA_OPTS
      - PGOPTIONS

  mapserver:
    image: camptocamp/mapserver:8.2-gdal3.8
    user: www-data
    restart: unless-stopped
    entrypoint: []
    environment:
      - PGOPTIONS
      - MAPSERVER_CONFIG_FILE=/etc/mapserver/mapserver.conf
      - MAPSERVER_BASE_PATH=/mapserv_proxy
      - OGCAPI_HTML_TEMPLATE_DIRECTORY=/usr/local/share/mapserver/ogcapi/templates/html-bootstrap4/
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_DEFAULT_REGION
      - AWS_S3_ENDPOINT
      - AZURE_STORAGE_CONNECTION_STRING
      - AZURE_STORAGE_ACCOUNT
      - AZURE_STORAGE_ACCESS_TOKEN
      - AZURE_STORAGE_ACCESS_KEY
      - AZURE_STORAGE_SAS_TOKEN
      - CPL_VSIL_CURL_USE_CACHE
      - CPL_VSIL_CURL_CACHE_SIZE
      - CPL_VSIL_CURL_USE_HEAD
      - GDAL_DISABLE_READDIR_ON_OPEN

  qgisserver:
    image: camptocamp/geomapfish-qgisserver:gmf${GEOMAPFISH_MAIN_VERSION}-qgis${QGIS_VERSION}
    user: www-data
    restart: unless-stopped
    environment:
      - C2C_REDIS_URL
      - C2C_REDIS_SENTINELS
      - C2C_REDIS_TIMEOUT
      - C2C_REDIS_SERVICENAME
      - C2C_REDIS_DB
      - C2C_BROADCAST_PREFIX
      - PGOPTIONS
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_DEFAULT_REGION
      - AWS_S3_ENDPOINT
      - AZURE_STORAGE_CONNECTION_STRING
      - AZURE_STORAGE_ACCOUNT
      - AZURE_STORAGE_ACCESS_TOKEN
      - AZURE_STORAGE_ACCESS_KEY
      - AZURE_STORAGE_SAS_TOKEN
      - CPL_VSIL_CURL_USE_CACHE
      - CPL_VSIL_CURL_CACHE_SIZE
      - CPL_VSIL_CURL_USE_HEAD
      - GDAL_DISABLE_READDIR_ON_OPEN
      - QGIS_SERVER_LOG_LEVEL
      - QGIS_AUTH_DB_DIR_PATH
      - QGIS_SERVER_IGNORE_BAD_LAYERS
      - QGIS_SERVER_DISABLE_GETPRINT
      - PGSERVICEFILE
      - LOG_LEVEL=${QGIS_LOG_LEVEL}
      - LOG_TYPE
      - C2CGEOPORTAL_LOG_LEVEL
      - SQL_LOG_LEVEL
      - OTHER_LOG_LEVEL
      - GEOMAPFISH_ACCESSCONTROL_BASE_URL=${QGISSERVER_URL}
      - QGIS_SERVER_TRUST_LAYER_METADATA
      - QGIS_SERVER_PARALLEL_RENDERING
      - MAX_CACHE_LAYERS
      - QGIS_SERVER_CACHE_SIZE
      - QGIS_SERVER_WMS_MAX_HEIGHT
      - QGIS_SERVER_WMS_MAX_WIDTH
      - QGIS_SERVER_API_WFS3_MAX_LIMIT
      - QGIS_SERVER_LANDING_PAGE_PROJECTS_DIRECTORIES
      - QGIS_SERVER_OVERRIDE_SYSTEM_LOCALE

  tinyows:
    image: camptocamp/tinyows:master
    user: www-data
    restart: unless-stopped

  redis:
    image: redis:7.4
    user: www-data
    restart: unless-stopped
    command:
      - redis-server
      - --save
      - ''
      - --appendonly
      - 'no'
      - --maxmemory
      - 512mb
      - --maxmemory-policy
      - volatile-lru
      - --tcp-keepalive
      - '30'

  redis_master:
    image: bitnami/redis:7.4
    environment:
      - REDIS_REPLICATION_MODE=master
      - ALLOW_EMPTY_PASSWORD=yes

  redis_slave:
    image: bitnami/redis:7.4
    environment:
      - REDIS_REPLICATION_MODE=slave
      - REDIS_MASTER_HOST=redis_master
      - ALLOW_EMPTY_PASSWORD=yes
    depends_on:
      - redis_master

  redis_sentinel:
    image: bitnami/redis-sentinel:7.4
    environment:
      - REDIS_MASTER_HOST=redis_master
      - REDIS_MASTER_SET=mymaster
      - ALLOW_EMPTY_PASSWORD=yes
    depends_on:
      - redis_master
      - redis_slave

  tilecloudchain:
    image: &tilecloudchain-image camptocamp/tilecloud-chain:1.21
    user: www-data
    restart: unless-stopped
    environment:
      - DEVELOPMENT
      - VISIBLE_ENTRY_POINT
      - TILEGENERATION_CONFIGFILE=/etc/tilegeneration/config.yaml
      - TILECLOUD_CHAIN_SESSION_SECRET
      - TILECLOUD_CHAIN_SESSION_SALT
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AZURE_STORAGE_CONNECTION_STRING
      - AZURE_STORAGE_ACCOUNT
      - AZURE_STORAGE_ACCESS_TOKEN
      - AZURE_STORAGE_ACCESS_KEY
      - AZURE_STORAGE_SAS_TOKEN
      - AZURE_STORAGE_ACCOUNT_URL
      - C2C_BASE_PATH
      - C2C_REDIS_URL
      - C2C_REDIS_SENTINELS
      - C2C_REDIS_TIMEOUT
      - C2C_REDIS_SERVICENAME
      - C2C_REDIS_DB
      - C2C_BASE_PATH=/tiles/c2c
      - C2C_BROADCAST_PREFIX=broadcast_tilecloudchain_
      - C2C_REQUESTS_DEFAULT_TIMEOUT
      - C2C_LOG_VIEW_ENABLED=TRUE
      - C2C_DEBUG_VIEW_ENABLED=TRUE
      - C2C_SQL_PROFILER_ENABLED=TRUE
      - C2C_PROFILER_PATH
      - C2C_PROFILER_MODULES
      - C2C_SECRET
      - C2C_AUTH_GITHUB_REPOSITORY
      - C2C_AUTH_GITHUB_ACCESS_TYPE
      - C2C_AUTH_GITHUB_CLIENT_ID
      - C2C_AUTH_GITHUB_CLIENT_SECRET
      - C2C_AUTH_GITHUB_SCOPE
      - C2C_AUTH_GITHUB_SECRET
      - C2C_AUTH_GITHUB_PROXY_URL
      - C2C_USE_SESSION=true
      - TILECLOUD_LOG_LEVEL
      - TILECLOUD_CHAIN_LOG_LEVEL
      - C2CWSGI_LOG_LEVEL
      - OTHER_LOG_LEVEL
      - LOG_TYPE

  tilegeneration_slave:
    image: *tilecloudchain-image
    user: www-data
    restart: unless-stopped
    entrypoint:
      - generate-tiles
      - --role=slave
      - --daemon
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AZURE_STORAGE_CONNECTION_STRING
      - AZURE_STORAGE_ACCOUNT
      - AZURE_STORAGE_ACCESS_TOKEN
      - AZURE_STORAGE_ACCESS_KEY
      - AZURE_STORAGE_SAS_TOKEN
      - AZURE_STORAGE_ACCOUNT_URL

  geoportal:
    image: camptocamp/geomapfishapp-geoportal:${GEOMAPFISH_MAIN_MINOR_VERSION}
    user: www-data
    restart: unless-stopped
    environment: &geoportal-env
      - DEVELOPMENT
      - VISIBLE_ENTRY_POINT
      - PACKAGE
      - PGHOST
      - PGHOST_SLAVE
      - PGPORT
      - PGPORT_SLAVE
      - PGUSER
      - PGPASSWORD
      - PGDATABASE
      - PGSSLMODE
      - PGSCHEMA
      - PGSCHEMA_STATIC
      - PGOPTIONS
      - SQLALCHEMY_POOL_RECYCLE
      - SQLALCHEMY_POOL_SIZE
      - SQLALCHEMY_MAX_OVERFLOW
      - SQLALCHEMY_SLAVE_POOL_RECYCLE
      - SQLALCHEMY_SLAVE_POOL_SIZE
      - SQLALCHEMY_SLAVE_MAX_OVERFLOW
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_DEFAULT_REGION
      - AWS_S3_ENDPOINT
      - AZURE_STORAGE_CONNECTION_STRING
      - AZURE_STORAGE_ACCOUNT
      - AZURE_STORAGE_ACCESS_TOKEN
      - AZURE_STORAGE_ACCESS_KEY
      - AZURE_STORAGE_SAS_TOKEN
      - CPL_VSIL_CURL_USE_CACHE
      - CPL_VSIL_CURL_CACHE_SIZE
      - CPL_VSIL_CURL_USE_HEAD
      - GDAL_DISABLE_READDIR_ON_OPEN
      - VISIBLE_WEB_HOST
      - VISIBLE_WEB_PROTOCOL
      - AUTHTKT_TIMEOUT
      - AUTHTKT_REISSUE_TIME
      - AUTHTKT_MAXAGE
      - AUTHTKT_SECRET
      - AUTHTKT_COOKIENAME
      - AUTHTKT_HTTP_ONLY
      - AUTHTKT_SECURE
      - AUTHTKT_SAMESITE
      - BASICAUTH
      - OPENID_CONNECT_ENABLED
      - TINYOWS_URL
      - MAPSERVER_URL
      - QGISSERVER_URL
      - PRINT_URL
      - DEVSERVER_HOST
      - REDIS_HOST
      - REDIS_PORT
      - REDIS_DB
      - REDIS_SERVICENAME
      - REDIS_TIMEOUT
      - C2C_BASE_PATH
      - C2C_REDIS_URL
      - C2C_REDIS_SENTINELS
      - C2C_REDIS_TIMEOUT
      - C2C_REDIS_SERVICENAME
      - C2C_REDIS_DB
      - C2C_BROADCAST_PREFIX
      - C2C_REQUESTS_DEFAULT_TIMEOUT
      - C2C_LOG_VIEW_ENABLED=TRUE
      - C2C_SQL_PROFILER_ENABLED=TRUE
      - C2C_PROFILER_PATH
      - C2C_PROFILER_MODULES
      - C2C_DEBUG_VIEW_ENABLED=TRUE
      - C2C_SECRET
      - C2C_AUTH_GITHUB_REPOSITORY
      - C2C_AUTH_GITHUB_ACCESS_TYPE
      - C2C_AUTH_GITHUB_CLIENT_ID
      - C2C_AUTH_GITHUB_CLIENT_SECRET
      - C2C_AUTH_GITHUB_SCOPE
      - C2C_AUTH_GITHUB_SECRET
      - C2C_AUTH_GITHUB_PROXY_URL
      - LOG_LEVEL
      - C2CGEOPORTAL_LOG_LEVEL
      - SQL_LOG_LEVEL
      - GUNICORN_LOG_LEVEL
      - OTHER_LOG_LEVEL
      - DOGPILECACHE_LOG_LEVEL
      - C2CWSGIUTILS_LOG_LEVEL
      - LOG_TYPE
      - C2CGEOPORTAL_THEME_TIMEOUT=300
      # For multi tenant
      - DEFAULT_PREFIX

  geoportal-advance:
    image: ${DOCKER_BASE}-geoportal:${DOCKER_TAG}
    build: &geoportal-build
      context: geoportal
      args:
        GIT_HASH: ${GIT_HASH}
        PGSCHEMA: ${PGSCHEMA}
        GEOMAPFISH_VERSION: ${GEOMAPFISH_VERSION}
        GEOMAPFISH_MAIN_VERSION: ${GEOMAPFISH_MAIN_VERSION}
        GEOMAPFISH_MAIN_MINOR_VERSION: ${GEOMAPFISH_MAIN_MINOR_VERSION}
    user: www-data
    restart: unless-stopped
    environment: *geoportal-env

  tools:
    image: camptocamp/geomapfish-tools:${GEOMAPFISH_VERSION}
    restart: unless-stopped
    volumes:
      - .:/src
    environment:
      # From geoportal
      - DEVELOPMENT
      - VISIBLE_ENTRY_POINT
      - PACKAGE
      - PGHOST
      - PGHOST_SLAVE
      - PGPORT
      - PGPORT_SLAVE
      - PGUSER
      - PGPASSWORD
      - PGDATABASE
      - PGSSLMODE
      - PGSCHEMA
      - PGSCHEMA_STATIC
      - PGOPTIONS
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_DEFAULT_REGION
      - AWS_S3_ENDPOINT
      - AZURE_STORAGE_CONNECTION_STRING
      - AZURE_STORAGE_ACCOUNT
      - AZURE_STORAGE_ACCESS_TOKEN
      - AZURE_STORAGE_ACCESS_KEY
      - AZURE_STORAGE_SAS_TOKEN
      - VISIBLE_WEB_HOST
      - VISIBLE_WEB_PROTOCOL
      - AUTHTKT_TIMEOUT
      - AUTHTKT_REISSUE_TIME
      - AUTHTKT_MAXAGE
      - AUTHTKT_SECRET
      - AUTHTKT_COOKIENAME
      - AUTHTKT_HTTP_ONLY
      - AUTHTKT_SECURE
      - AUTHTKT_SAMESITE
      - BASICAUTH
      - TINYOWS_URL
      - MAPSERVER_URL
      - QGISSERVER_URL
      - PRINT_URL
      - DEVSERVER_HOST
      - REDIS_HOST
      - REDIS_PORT
      - REDIS_DB
      - REDIS_SERVICENAME
      - REDIS_TIMEOUT
      - C2C_BASE_PATH
      - C2C_REDIS_URL
      - C2C_REDIS_SENTINELS
      - C2C_REDIS_TIMEOUT
      - C2C_REDIS_SERVICENAME
      - C2C_REDIS_DB
      - C2C_BROADCAST_PREFIX
      - C2C_REQUESTS_DEFAULT_TIMEOUT
      - C2C_LOG_VIEW_ENABLED=TRUE
      - C2C_SQL_PROFILER_ENABLED=TRUE
      - C2C_PROFILER_PATH
      - C2C_PROFILER_MODULES
      - C2C_DEBUG_VIEW_ENABLED=TRUE
      - LOG_LEVEL
      - C2CGEOPORTAL_LOG_LEVEL
      - SQL_LOG_LEVEL
      - GUNICORN_LOG_LEVEL
      - OTHER_LOG_LEVEL
      - DOGPILECACHE_LOG_LEVEL
      - C2CWSGIUTILS_LOG_LEVEL
      - LOG_TYPE
      - SUFFIX=

  alembic: &alembic
    image: camptocamp/geomapfishapp-geoportal:${GEOMAPFISH_MAIN_VERSION}
    user: www-data
    entrypoint: []
    command:
      - alembic
      - --name=static
      - upgrade
      - head
    environment:
      - PGHOST
      - PGHOST_SLAVE
      - PGPORT
      - PGPORT_SLAVE
      - PGUSER
      - PGPASSWORD
      - PGDATABASE
      - PGSSLMODE
      - PGSCHEMA_STATIC
      - LOG_TYPE

  alembic-advance:
    <<: *alembic
    image: ${DOCKER_BASE}-geoportal:${DOCKER_TAG}
    build: *geoportal-build

  front:
    image: haproxy:2.6
    restart: unless-stopped
    volumes:
      - ${FRONT_LOG_DIRECTORY}:/dev/log:rw
    command:
      - haproxy
      - -f
      - /etc/${FRONT_CONFIG}
    ports:
      - ${DOCKER_PORT}:${FRONT_INNER_PORT}

  webpack_dev_server:
    image: ${DOCKER_BASE}-geoportal-dev:${DOCKER_TAG}
    build:
      context: geoportal
      target: builder
      args:
        GEOMAPFISH_VERSION: ${GEOMAPFISH_VERSION}
        GEOMAPFISH_MAIN_VERSION: ${GEOMAPFISH_MAIN_VERSION}
        GEOMAPFISH_MAIN_MINOR_VERSION: ${GEOMAPFISH_MAIN_MINOR_VERSION}
    volumes:
      - ./geoportal/${PACKAGE}_geoportal/static-ngeo:/app/${PACKAGE}_geoportal/static-ngeo
    environment:
      - VISIBLE_ENTRY_POINT
      - VISIBLE_WEB_HOST
      - VISIBLE_WEB_PROTOCOL
      - PGHOST
      - PGHOST_SLAVE
      - PGPORT
      - PGPORT_SLAVE
      - PGUSER
      - PGPASSWORD
      - PGDATABASE
      - PGSSLMODE
      - PGSCHEMA_STATIC
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_DEFAULT_REGION
      - AWS_S3_ENDPOINT
      - AZURE_STORAGE_CONNECTION_STRING
      - AZURE_STORAGE_ACCOUNT
      - AZURE_STORAGE_ACCESS_TOKEN
      - AZURE_STORAGE_ACCESS_KEY
      - AZURE_STORAGE_SAS_TOKEN

  db:
    image: camptocamp/postgres:${POSTGRES_TAG}
    environment:
      - POSTGRES_PASSWORD=${PGPASSWORD}
      - POSTGRES_DB=${PGDATABASE}
      - POSTGRES_USER=${PGUSER}
