# This file is used to run QGIS client from the Docker image

volumes:
  qgis-home:

services:
  qgis:
    extends:
      file: docker-compose-lib.yaml
      service: qgisserver
    image: camptocamp/qgis-server:${QGIS_VERSION}-desktop
    user: ubuntu
    volumes_from:
      - config
    volumes:
      - qgis-home:/home/ubuntu
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./qgisserver:/qgisserver
    devices:
      - /dev/dri:/dev/dri
    environment:
      - HOME=/home/ubuntu
      - PGSERVICEFILE=/etc/qgisserver/pg_service.conf
      - DISPLAY=unix${DISPLAY}
      - QGIS_DEBUG=0
      - QGIS_LOG_FILE=/dev/null
      - PGOPTIONS=-c statement_timeout=30000
      - AZURE_STORAGE_CONNECTION_STRING
    command: qgis
