MAP
    NAME "c2cgeoportail"
    EXTENT 420000 40500 839000 306400
    UNITS DD
    MAXSIZE 4000 # MAXSIZE should not be less than 4000 for MF print
    IMAGECOLOR 255 255 255
    STATUS ON
    #FONTSET "fonts.conf"
    #SYMBOLSET "symbol.sym"
    OUTPUTFORMAT
        NAME "jpeg"
        DRIVER "AGG/JPEG"
        IMAGEMODE RGB
        EXTENSION "jpeg"
        FORMATOPTION "QUALITY=75,PROGRESSIVE=TRUE"
    END
    OUTPUTFORMAT
        NAME "png"
        DRIVER "AGG/PNG"
        MIMETYPE "image/png"
        IMAGEMODE RGBA
        EXTENSION "png"
        FORMATOPTION "INTERLACE=OFF"
    END
    PROJECTION
        "init=epsg:21781"
    END
    WEB
        METADATA
            "ows_enable_request" "*"
            "wms_allow_getmap_without_styles" "true"
        END
    END
    SYMBOL
        NAME "square"
        TYPE VECTOR
        POINTS
            0 0
            0 1
            1 1
            1 0
            0 0
        END
        FILLED TRUE
    END
    LAYER
        NAME "testpoint_unprotected"
        GROUP "testpoint_group"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        TEMPLATE fooOnlyForWMSGetFeatureInfo
        METADATA
            "wms_title" "countries"
            # gml_ settings for GetFeatureInfo
            "gml_include_items" "all"
            "gml_exclude_items" "id"
            "gml_geometries" "geom"
            "gml_geom_type" "point"
            "gml_types" "auto"
            "gml_featureid" "id"
        END
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            NAME "testpoint_unprotected"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "testpoint_protected"
        GROUP "testpoint_group"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from (SELECT tp.* FROM geodata.testpoint AS tp, ${MAPSERVER_JOIN_TABLES} WHERE ST_Contains(ra.area, ST_GeomFromText(ST_AsText(tp.geom), 21781)) AND ${MAPSERVER_JOIN_WHERE} 'testpoint_protected') as foo USING unique id USING srid=21781"
        TEMPLATE fooOnlyForWMSGetFeatureInfo
        METADATA
            "wms_title" "countries"
            # gml_ settings for GetFeatureInfo
            "gml_include_items" "all"
            "gml_exclude_items" "id"
            "gml_geometries" "geom"
            "gml_geom_type" "point"
        END
        VALIDATION
            "default_role_ids" "-1"
            "role_ids" "^-?[0-9,]*$"
        END
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            NAME "testpoint_protected"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "testpoint_protected_2"
        EXTENT 420000 40500 839000 306400
        GROUP "testpoint_group_2"
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from (SELECT tp.* FROM geodata.testpoint AS tp, ${MAPSERVER_JOIN_TABLES} WHERE ST_Contains(ra.area, ST_GeomFromText(ST_AsText(tp.geom), 21781)) AND ${MAPSERVER_JOIN_WHERE} 'testpoint_protected_2') as foo USING unique id USING srid=21781"
        TEMPLATE fooOnlyForWMSGetFeatureInfo
        METADATA
            "wms_title" "countries"
            # gml_ settings for GetFeatureInfo
            "gml_include_items" "all"
            "gml_exclude_items" "id"
            "gml_geometries" "geom"
            "gml_geom_type" "point"
        END
        VALIDATION
            "default_role_ids" "-1"
            "role_ids" "^-?[0-9,]*$"
        END
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            NAME "testpoint_protected"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "testpoint_protected_query_with_collect"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from (SELECT tp.* FROM geodata.testpoint AS tp WHERE ST_Contains((${MAPSERVER_DATA_SUBSELECT} 'testpoint_protected_query_with_collect'), ST_SetSRID(tp.geom, 21781))) as foo USING unique id USING srid=21781"
        TEMPLATE fooOnlyForWMSGetFeatureInfo
        METADATA
            "wms_title" "countries"
            # gml_ settings for GetFeatureInfo
            "gml_include_items" "all"
            "gml_exclude_items" "id"
            "gml_geometries" "geom"
            "gml_geom_type" "point"
        END
        VALIDATION
            "default_role_ids" "-1"
            "role_ids" "^-?[0-9,]*$"
        END
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            NAME "testpoint_protected"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "testpoint_substitution"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom FROM (SELECT * FROM geodata.testpoint WHERE name='%s_name%') AS test USING unique id USING srid=21781"
        TEMPLATE fooOnlyForWMSGetFeatureInfo
        METADATA
            "wms_title" "countries"
            # gml_ settings for GetFeature
            "gml_include_items" "all"
            "gml_exclude_items" "id"
            "gml_geometries" "geom"
            "gml_geom_type" "point"
            "gml_types" "auto"
        END
        VALIDATION
            "s_name" "^[a-z]*$"
            "default_s_name" "foo"
        END
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            NAME "testpoint_substitution"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "testpoint_column_restriction"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom FROM (SELECT geom, id, %s_cols% FROM geodata.testpoint) AS test USING unique id USING srid=21781"
        TEMPLATE fooOnlyForWMSGetFeatureInfo
        METADATA
            "wms_title" "countries"
            # gml_ settings for GetFeature
            "gml_include_items" "all"
            "gml_exclude_items" "id"
            "gml_geometries" "geom"
            "gml_geom_type" "point"
            "gml_types" "auto"
        END
        VALIDATION
            "s_cols" "^[a-z,]*$"
            "default_s_cols" "name"
        END
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            NAME "testpoint_column_restriction"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "test_wmsfeatures"
        GROUP "test_wmsfeaturesgroup"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        TEMPLATE fooOnlyForWMSGetFeatureInfo
        METADATA
            "wms_title" "countries"
            # gml_ settings for GetFeatureInfo
            "gml_include_items" "all"
            "gml_exclude_items" "id"
            "gml_geometries" "geom"
            "gml_geom_type" "point"
            "gml_types" "auto"
            "wms_metadataurl_href" "http://example.com/wmsfeatures.metadata"
            "wms_metadataurl_format" "text/plain"
            "wms_metadataurl_type" "TC211"
        END
        MINSCALEDENOM 5000
        MAXSCALEDENOM 25000
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            NAME "test_wmsfeatures"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "test_wmstime"
        GROUP "test_wmstimegroup"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        METADATA
            "wms_title" "time"
            "wms_timeextent" "2000/2010/P1Y"
            "wms_timeitem" "date"
            "wms_timedefault" "2000"
        END
        PROJECTION
            "init=epsg:21781"
        END
        MINSCALEDENOM 5000
        MAXSCALEDENOM 25000
        CLASS
            NAME "test_wmstime"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "test_wmstime2"
        GROUP "test_wmstimegroup"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        METADATA
            "wms_title" "time"
            "wms_timeextent" "2015/2020/P1Y"
            "wms_timeitem" "date"
            "wms_timedefault" "2015"
        END
        PROJECTION
            "init=epsg:21781"
        END
        MINSCALEDENOM 5000
        MAXSCALEDENOM 25000
        CLASS
            NAME "testpoint_unprotected"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "__test_public_layer"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        METADATA
        END
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "__test_private_layer"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "__test_private_layer0"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom FROM (SELECT geo.* FROM geodata.testpoint as geo) as foo USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
    END
    LAYER
        NAME "__test_private_layer1"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
    END
    LAYER
        NAME "__test_private_layer2"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
    END
    LAYER
        NAME "__test_private_layer3"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
    END
    LAYER
        NAME "__test_private_layer4"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
    END
    LAYER
        NAME "__test_private_layer5"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
    END
    LAYER
        NAME "__test_private_layer6"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
    END
    LAYER
        NAME "__test_private_layer7"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
    END
    LAYER
        NAME "__test_private_layer8"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
    END
    LAYER
        NAME "__test_private_layer9"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
    END
    LAYER
        NAME "__test_public_layer_bis"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "__test_private_layer_bis"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "__test_layer_internal_wms"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        PROJECTION
            "init=epsg:21781"
        END
        FEATURE
            WKT "POINT(0 0)"
        END
        CLASS
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "test_noscale"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        TEMPLATE fooOnlyForWMSGetFeatureInfo
        METADATA
            "wms_title" "countries"
            # gml_ settings for GetFeatureInfo
            "gml_include_items" "all"
            "gml_exclude_items" "id"
            "gml_geometries" "geom"
            "gml_geom_type" "point"
            "gml_types" "auto"
            "wms_metadataurl_href" "http://example.com/wmsfeatures.metadata"
            "wms_metadataurl_format" "text/plain"
            "wms_metadataurl_type" "TC211"
        END
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            NAME "test_wmsfeatures"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "test_minscale"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        TEMPLATE fooOnlyForWMSGetFeatureInfo
        METADATA
            "wms_title" "countries"
            # gml_ settings for GetFeatureInfo
            "gml_include_items" "all"
            "gml_exclude_items" "id"
            "gml_geometries" "geom"
            "gml_geom_type" "point"
            "gml_types" "auto"
            "wms_metadataurl_href" "http://example.com/wmsfeatures.metadata"
            "wms_metadataurl_format" "text/plain"
            "wms_metadataurl_type" "TC211"
        END
        MINSCALEDENOM 5000
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            NAME "test_wmsfeatures"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "test_maxscale"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        TEMPLATE fooOnlyForWMSGetFeatureInfo
        METADATA
            "wms_title" "countries"
            # gml_ settings for GetFeatureInfo
            "gml_include_items" "all"
            "gml_exclude_items" "id"
            "gml_geometries" "geom"
            "gml_geom_type" "point"
            "gml_types" "auto"
            "wms_metadataurl_href" "http://example.com/wmsfeatures.metadata"
            "wms_metadataurl_format" "text/plain"
            "wms_metadataurl_type" "TC211"
        END
        MAXSCALEDENOM 25000
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            NAME "test_wmsfeatures"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
    LAYER
        NAME "test_boothscale"
        EXTENT 420000 40500 839000 306400
        TYPE POINT
        STATUS ON
        CONNECTIONTYPE POSTGIS
        CONNECTION "host=${PGHOST} port=${PGPORT} user=${PGUSER} password=${PGPASSWORD} dbname=${PGDATABASE}"
        DATA "geom from geodata.testpoint USING unique id USING srid=21781"
        TEMPLATE fooOnlyForWMSGetFeatureInfo
        METADATA
            "wms_title" "countries"
            # gml_ settings for GetFeatureInfo
            "gml_include_items" "all"
            "gml_exclude_items" "id"
            "gml_geometries" "geom"
            "gml_geom_type" "point"
            "gml_types" "auto"
            "wms_metadataurl_href" "http://example.com/wmsfeatures.metadata"
            "wms_metadataurl_format" "text/plain"
            "wms_metadataurl_type" "TC211"
        END
        MINSCALEDENOM 5000
        MAXSCALEDENOM 25000
        PROJECTION
            "init=epsg:21781"
        END
        CLASS
            NAME "test_wmsfeatures"
            STYLE
                SYMBOL "square"
                SIZE 16
                COLOR 0 0 0
                OUTLINECOLOR 0 0 0
            END
        END
    END
END
