---
# Used for development: please do not remove this file

vars:
  schema: main
  schema_static: main_static
  srid: 21781

  servers:
    internal: http://localhost/
    local: 'https://my-geomapfish.com/'
    mapserver: 'http://mapserver:8080/'
    qgisserver: 'http://qgisserver:8080/'

  available_locale_names:
    - en
    - fr
    - de
    - it

  admin_interface:
    layer_tree_max_nodes: 1000

    # Used to add a new page to the administration
    # Format example:
    # - [route_name, path.to.model]
    include_pages: {}

    # Used to remove pages of the administration
    # Format example:
    #   - route_name
    exclude_pages: []

    available_metadata:
      # TreeItem
      - name: searchAlias
        type: list
        description: >
          Comma separated list of search aliases (keywords) to be added to the tsearch.ts field for
          the considered tree item (theme, layer group or layer), that is to say that considered
          tree item will match when searching for the search aliases.
        relevant_for:
          - treeitem
      - name: searchLabelPattern
        description: >
          Template string for the label of tree items in the search results
          (TODO GSGMF-1935: complete description after implementation)
        relevant_for:
          - treeitem
      # Layers group
      - name: exclusiveGroup
        type: boolean
        description: >
          Whether the group contains children that have to be mutually exclusive, meaning that only
          one child may be ON at any time.
        relevant_for:
          - layergroup
      - name: isExpanded
        type: boolean
        description: >
          Whether the layer group is expanded by default.
        relevant_for:
          - layergroup
      - name: printNativeAngle
        type: boolean
        description: >
          Whether the print should rotate the symbols.
        relevant_for:
          - layergroup
      # Layer
      - name: copyable
        type: boolean
        description: >
          Whether the geometry from this data source can be copied to other data sources or not.
        relevant_for:
          - layer_wms
      - name: legend
        type: boolean
        description: >
          Display the legend of this layer.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: isLegendExpanded
        type: boolean
        description: >
          Whether the legend is expanded by default.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: legendRule
        description: >
          The WMS "RULE" parameter used to display the icon in the layer tree. "Short version" of
          the "iconURL" metadata.
        relevant_for:
          - layer_wms
      - name: legendImage
        type: url
        description: >
          The URL to the image used as a legend in the layer tree.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: hiDPILegendImages
        type: json
        description: >
          The URLs to the hi DPI images used as a legend in the layer tree.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: iconUrl
        type: url
        description: >
          The URL of the icon to display in the layer tree.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: metadataUrl
        type: url
        description: >
          The URL to the information on this layer.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: disclaimer
        translate: True
        description: >
          The disclaimer text for this element.
        relevant_for:
          - treeitem
      - name: isChecked
        type: boolean
        description: >
          Is the layer checked by default.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: identifierAttributeField
        description: >
          The field used in the "display query window" as feature title.
        relevant_for:
          - layer_wms
      - name: maxResolution
        type: float
        description: >
          The max resolution where the layer is visible. On WMTS layers it will
          have an effect on the node in the layertree but not on the layertree directly.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: minResolution
        type: float
        description: >
          The min resolution where the layer is visible. On WMTS layers it will
          have an effect on the node in the layertree but not on the layer directly.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: opacity
        type: float
        description: >
          Layer opacity. 1.0 means fully visible, 0 means invisible.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: thumbnail
        type: url
        description: >
          The icon visible in the background selector.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: timeAttribute
        description: >
          The name of the time attribute. For WMS(-T) layers.
        relevant_for:
          - layer_wms
      - name: geotablePrimaryKey
        description: >
          The name of the primary key field for edition.
        relevant_for:
          - layer_wms
      - name: lastUpdateDateColumn
        description: >
          Define a column which will be automatically filled with the date of the last edit.
        relevant_for:
          - layer_wms
      - name: lastUpdateUserColumn
        description: >
          Define a column which will be automatically filled with the user of the last edit.
        relevant_for:
          - layer_wms
      - name: snappingConfig
        type: json
        description: >
          The snapping configuration for the leaf. If set, the leaf's layer is considered to be
          "snappable", even if the config itself is empty. Example value: {"tolerance": 50, "edge":
          false}. For WMS layers.
        relevant_for:
          - layer_wms
      - name: geometryValidation
        type: boolean
        description: >
          Force validation of the geometries according to the layer type (point, line, polygon),
          for example, to prevent creation of a 2-point polygon.
        relevant_for:
          - layer_wms
      - name: customOpenLayersOptions
        type: json
        description: >
          The custom OpenLayers WMS layer options.
        relevant_for:
          - layer_wms
          - layer_wmts
      - name: editingAttributesOrder
        type: list
        description: >
          Specify the order of the editable attributes in the edit interface.
        relevant_for:
          - layer_wms
      - name: editingEnumerations
        type: json
        description: >
          Specify the value column and the order column on the relationship's target table of the
          enumeration.
        relevant_for:
          - layer_wms
      - name: readonlyAttributes
        type: list
        description: >
          Set attributes as read only in the Editing form.
        relevant_for:
          - layer_wms
      - name: queryIconPosition
        type: list
        description: >
          Values to define the shape (bbox) to use to query the layer. The values are used like a
          padding in css with 1, 2, 3 or 4 comma separated values: all / top-bottom, left-right /
          top, right-left, bottom / top, right, bottom, left.
        relevant_for:
          - layer_wms
          - layer_wmts
      # WMS
      - name: directedFilterAttributes
        type: list
        description: >
          List of attribute names which should have rules already ready when using the filter
          tools.
        relevant_for:
          - layer_wms
      - name: enumeratedAttributes
        type: list
        description: >
          List of attribute names which have enumerated attribute values (for filters purpose).
        relevant_for:
          - layer_wms
      # WMTS layers
      - name: ogcServer
        description: >
          The corresponding OGC server for a WMTS layer.
        relevant_for:
          - layer_wmts
      - name: wmsLayers
        description: >
          A corresponding WMS layers (comma separated) for WMTS layer. Used to query the WMTS layer
          and to print them. See also printLayers and queryLayers metadata for more granularity. An
          OGCServer metadata must be set with the name of the OGC server to use for these wms
          layers.
        relevant_for:
          - layer_wmts
      - name: queryLayers
        description: >
          Layers names separate by a comma. The WMS layers used as references to
          query the WMTS layers. An OGCServer metadata must be set with the name of the OGC server
          to use for this WMS layer. For WFS GetFeature request: The WFS layers that should be
          queried.
        relevant_for:
          - layer_wmts
      - name: printLayers
        description: >
          A WMS layers (comma separated) that will be used instead of the WMTS layer in the print.
          Used to increase quality of printed WMTS layer. An OGCServer metadata must be set with
          the name of the OGC server to use for these wms layers.
        relevant_for:
          - layer_wmts
      - name: maxQueryResolution
        type: float
        description: >
          The max resolution where the layer is queryable.
        relevant_for:
          - layer_wmts
      - name: minQueryResolution
        type: float
        description: >
          The min resolution where the layer is queryable.
        relevant_for:
          - layer_wmts

      # For dev /tests purpose
      - name: _string
        type: string
      - name: _liste
        type: liste
      - name: _boolean
        type: boolean
      - name: _int
        type: int
      - name: _float
        type: float
      - name: _url
        type: url
      - name: _json
        type: json
      - name: _unknown
        type: unknown
      - name: _color
        type: regex
        regex: '^#([A-Fa-f0-9]{{6}}|[A-Fa-f0-9]{{3}})$'
        error_message: 'Expecting hex format for color, e.g. #007DCD'

    # The list of functionalities that can be configured
    # through the admin interface.
    available_functionalities:
      - name: default_basemap
        single: true
        description: >
          The background layer to load when the user select this theme.
        relevant_for:
          - theme
      - name: default_theme
        single: true
        description: >
          The theme to load when the user log in.
        relevant_for:
          - role
      - name: print_template
        description: >
          Grant access to considered print template.
        relevant_for:
          - role
      - name: mapserver_substitution
        relevant_for:
          - role
        description: >
          MapServer substitution of a variable in the mapfile.
          See the documentation here:
          https://camptocamp.github.io/c2cgeoportal/{{cookiecutter.geomapfish_main_version}}/administrator/mapfile.html?highlight=mapserver_substitution#variable-substitution
      - name: filterable_layers
        description: >
          Grant access for filtering considered layer.
        relevant_for:
          - role
      - name: preset_layer_filter
        single: true
        description: >
          Name of the layer (data source) to select in the filter tool upon loading an application.
        relevant_for:
          - role
      - name: open_panel
        single: true
        description: >
          Name of a panel to open upon loading an application.
        relevant_for:
          - role

  smtp:
    # Used to send email from various feature
    host: psemail.epfl.ch

  welcome_email:
    # Used to send a welcome email for new user
    email_from: info@camptocamp.com
    email_subject: Welcome to GeoMapFish demo
    email_body: |
      Hello {user},

      You have a new account on GeoMapFish demo: https://geomapfish-demo.camptocamp.com/2.3
      Your user name is: {user}
      Your password is: {password}

      Sincerely yours
      The GeoMapFish team

environment: []
no_interpreted:
  - admin_interface.available_functionalities[].description
  - admin_interface.available_metadata[].description
  - admin_interface.map_base_layer
  - welcome_email.email_body
