c2c.template
c2cwsgiutils
deform
plaster_pastedeploy
pyproj
pyramid
pyramid_debugtoolbar
pyramid_jinja2
pyramid_tm
transaction
waitress
-e git://github.com/camptocamp/c2cgeoform.git@13553b5653d278fd92f0bfe35fb500f7c984a9a8#egg=c2cgeoform
