-e git://github.com/camptocamp/c2cgeoform.git@640d24fabd1cd923eeb57044c9b8701c405f65bc#egg=c2cgeoform
c2cwsgiutils
ColanderAlchemy>=0.3.2
deform
plaster_pastedeploy
pyproj
pyramid == 1.9.1
pyramid_debugtoolbar
pyramid_jinja2
pyramid_retry
transaction
waitress
