include requirements.txt
recursive-include c2cgeoportal_geoportal/locale *.mo
recursive-include c2cgeoportal_geoportal/static *
recursive-include c2cgeoportal_geoportal/scaffolds *
recursive-include c2cgeoportal_geoportal/templates *
