alembic
bottle
c2cgeoportal_commons[upgrade]
c2cwsgiutils
c2c.template>=2.0.7  # Makefile
defusedxml
dogpile.cache>=0.6
Fiona
GeoAlchemy2
geojson
isodate  # WMST support
lingua
OWSLib>=0.6.0
papyrus
psycopg2-binary
pycryptodome
pyotp
pyramid
pyramid_debugtoolbar  # Needed by the development.ini
pyramid_mako  # to render the HTML files
pyramid_multiauth
pyramid_tm
python-dateutil
PyYAML
rasterio
requests
redis
Shapely
SQLAlchemy
transaction
jinja2>=2.11.3 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
mako>=1.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
