---

version: 1
update_configs:
  - package_manager: javascript
    directory: /
    update_schedule: live
    automerged_updates:
      - match:
          update_type: all
  - package_manager: javascript
    directory: /geoportal
    update_schedule: live
    automerged_updates:
      - match:
          update_type: all
  - package_manager: javascript
    directory: /admin
    update_schedule: live
    automerged_updates:
      - match:
          update_type: all

  - package_manager: python
    directory: /
    update_schedule: live
    allowed_updates:
      - match:
          dependency_type: direct
    automerged_updates:
      - match:
          update_type: all
    ignored_updates: []
  - package_manager: python
    directory: /docker/qgisserver
    update_schedule: live
    allowed_updates:
      - match:
          dependency_type: direct
    automerged_updates:
      - match:
          update_type: all
    ignored_updates: []
  - package_manager: python
    directory: /
    update_schedule: live
    target_branch: "2.4"
    allowed_updates:
      - match:
          update_type: security
    ignored_updates: []

  - package_manager: docker
    directory: /
    update_schedule: weekly
  - package_manager: docker
    directory: /doc
    update_schedule: weekly
  - package_manager: docker
    directory: /docker/config
    update_schedule: weekly
  - package_manager: docker
    directory: /docker/qgisserver
    update_schedule: weekly
  - package_manager: docker
    directory: /docker/test-db
    update_schedule: weekly
  - package_manager: docker
    directory: /docker/test-app-db
    update_schedule: weekly
  - package_manager: docker
    directory: /docker/test-external-db
    update_schedule: weekly
