# yaml-language-server: $schema=https://raw.githubusercontent.com/camptocamp/c2cciutils/master/c2cciutils/schema.json

checks:
  black:
    ignore_patterns_re:
      - ^commons/c2cgeoportal_commons/alembic/script\.py\.mako$
      - .*\.rst$
      - .*\.rst.tmpl$
      - ^geoportal/c2cgeoportal_geoportal/scaffolds/advance_create/{{cookiecutter.project}}/geoportal/{{cookiecutter.package}}_geoportal/__init__.py$
  codespell:
    ignore_re:
      - .*/package-lock.json$
      - .*/poetry.lock$
      - ^poetry.lock$
      - ^geoportal/tests/data/dem4\..*

audit:
  snyk:
    files_no_install:
      - ci/requirements.txt
      - geoportal/c2cgeoportal_geoportal/scaffolds/create/{{cookiecutter.project}}/ci/requirements.txt

publish:
  docker:
    dispatch: {}
    images:
      - name: camptocamp/geomapfish
      - name: camptocamp/geomapfish-config
      - name: camptocamp/geomapfish-tools
      - name: camptocamp/geomapfish
        group: full
      - name: camptocamp/geomapfish-config
        group: full
      - name: camptocamp/geomapfish-tools
        group: full
      - name: camptocamp/geomapfishapp-geoportal
      # 2.4
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-3.10
        tags:
          - gmf{version}-qgis3.10
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-3.16
        tags:
          - gmf{version}-qgis3.16
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-3.20
        tags:
          - gmf{version}-qgis3.20
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-3.22
        tags:
          - gmf{version}-qgis3.22
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-3.28
        tags:
          - gmf{version}-qgis3.28
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-latest
        tags:
          - gmf{version}-qgislatest
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-master
        tags:
          - gmf{version}-qgismaster
      # The group qgis-old is required for the clean workflow
      # 2.4, 2.5
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-old
        tags:
          - gmf{version}-qgis3.4
      # 2.5
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-old
        tags:
          - gmf{version}-qgis3.12
      # 2.5
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-old
        tags:
          - gmf{version}-qgis3.14
  pypi:
    packages:
      - path: commons
      - path: geoportal
      - path: admin
