---
checks:
  versions: False
  black:
    ignore_patterns_re:
      - ^commons/c2cgeoportal_commons/alembic/script\.py\.mako$
      - .*\.rst$
      - ^geoportal/c2cgeoportal_geoportal/scaffolds/.*/.*
  required_workflows:
    main.yaml: False
    rebuild-master.yaml:
      steps: []

audit:
  pipenv:
    python_versions:
      - 3.6.12

publish:
  docker:
    images:
      - name: camptocamp/geomapfish
      - name: camptocamp/geomapfish-tools
        group: full
      - name: camptocamp/geomapfish-tools
      - name: camptocamp/geomapfish-config
      - name: camptocamp/geomapfishapp-geoportal
      # 2.4
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-3.10
        tags:
          - gmf{version}-qgis3.10
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-3.16
        tags:
          - gmf{version}-qgis3.16
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-master
        tags:
          - gmf{version}-qgismaster
      # The group qgis-old is required for the clean workflow
      # 2.4, 2.5
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-old
        tags:
          - gmf{version}-qgis3.4
      # 2.5
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-old
        tags:
          - gmf{version}-qgis3.12
      # 2.5
      - name: camptocamp/geomapfish-qgisserver
        group: qgis-old
        tags:
          - gmf{version}-qgis3.14
  pypi:
    packages:
      - path: commons
      - path: geoportal
      - path: admin
