---

# The project Docker compose file for development.

version: '2.1'

services:
  qgisserver:
    extends:
      file: docker-compose-lib.yaml
      service: qgisserver
    volumes_from:
      - config:ro
    environment:
      # Single QGIS project files
      - QGIS_PROJECT_FILE=/etc/qgisserver/project.qgz
      - GEOMAPFISH_OGCSERVER=source for image/png
      - QGIS_SERVER_LOG_LEVEL=0

  db:
    image: camptocamp/geomapfish-test-app-db
    environment:
      POSTGRES_PASSWORD: www-data
      POSTGRES_USER: www-data
      POSTGRES_DB: gmf_testgeomapfishapp

  externaldb:
    image: camptocamp/geomapfish-test-external-db
    environment:
      POSTGRES_PASSWORD: www-data
      POSTGRES_USER: www-data
      POSTGRES_DB: test
