---
# The project Docker compose file for development.

version: '2.3'

services:
  geoportal:
    environment:
      - TEST=%
      - test=1234
    volumes:
      - ./geoportal/ci/:/app/ci/

  qgisserver:
    extends:
      file: docker-compose-lib.yaml
      service: qgisserver
    volumes_from:
      - config:ro
    environment:
      # Single QGIS project files
      - QGIS_PROJECT_FILE=/etc/qgisserver/project.qgz
      - GEOMAPFISH_OGCSERVER=source for image/png
      - QGIS_SERVER_LOG_LEVEL=0

  tilecloudchain:
    environment:
      - TILECLOUD_CHAIN_SESSION_SECRET=secret
      - TILECLOUD_CHAIN_SESSION_SALT=salt

  tools:
    volumes_from:
      - config:rw

  db:
    extends:
      file: docker-compose-lib.yaml
      service: db
    ports:
      - 54321:5432
    volumes:
      - postgresql_data:/var/lib/postgresql/data
      - ./ci/test-app-db:/docker-entrypoint-initdb.d

  externaldb:
    extends:
      file: docker-compose-lib.yaml
      service: db
    environment:
      POSTGRES_PASSWORD: www-data
      POSTGRES_USER: www-data
      POSTGRES_DB: test
    volumes:
      - ./ci/test-external-db:/docker-entrypoint-initdb.d
