[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
c2cwsgiutils = {extras = ["broadcast"],version = "==4.0.1"}
papyrus = "==2.4"  # commons
transaction = "==3.0.1"  # commons
"c2c.template" = "==2.1.0"
GeoAlchemy2 = "==0.8.5"
SQLAlchemy = "==1.3.24"  # commons
"zope.event" = "==4.4"  # commons
"zope.sqlalchemy" = "==1.2"  # commons
shapely = "==1.7.1"
cee-syslog-handler = "==0.6.0"
# Lock
bottle = "==0.12.24"
geojson = "==2.5.0"
hupper = "==1.10.3"
jinja2 = "==2.11.3"
mako = "==1.1.6"
markupsafe = "==1.1.1"
pastedeploy = "==2.1.1"
plaster = "==1.0"
plaster-pastedeploy = "==0.7"
pyramid = "==1.10.8"
pyyaml = "==5.3.1"
redis = "==3.5.3"
six = "==1.15.0"
translationstring = "==1.4"
venusian = "==3.0.0"
webob = "==1.8.7"
"zope.deprecation" = "==4.4.0"
"zope.interface" = "==5.2.0"
setuptools = "==45.2.0"

[dev-packages]
mypy = "==0.790"  # lint
prospector = {extras = ["with_mypy", "with_bandit"],version = "==1.3.1"}
flake8 = "==3.8.4"

# Lock dependencies
dodgy = "==0.2.1"
flake8-polyfill = "==1.0.2"
importlib-metadata = "==3.4.0"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
mypy-extensions = "==0.4.4"
pbr = "==5.5.1"
pep8-naming = "==0.10.0"
pycodestyle = "==2.6.0"
pydocstyle = "==5.1.1"
pyflakes = "==2.2.0"
pylint = "==2.5.3"
pylint-celery = "==0.3"
pylint-django = "==2.1.0"
pylint-flask = "==0.6"
pylint-plugin-utils = "==0.6"
pyyaml = "==5.3.1"
requirements-detector = "==0.7"
setoptconf = "==0.3.0"
six = "==1.15.0"
smmap = "==3.0.5"
snowballstemmer = "==2.0.0"
stevedore = "==3.3.3"
toml = "==0.10.2"
typed-ast = "==1.4.3"
typing-extensions = "==3.7.4.3"
wrapt = "==1.12.1"
zipp = "==3.4.2"

[requires]
python_version = "3.6"
