[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.790"  # lint
prospector = {extras = ["with_mypy", "with_bandit"],version = "==1.3.1"}

[packages]
c2cwsgiutils = {extras = ["broadcast"],version = "==4.0.1"}
papyrus = "==2.4"  # commons
transaction = "==3.0.0"  # commons
"c2c.template" = "==2.1.0"
GeoAlchemy2 = "==0.8.4"
SQLAlchemy = "==1.3.20"  # commons
"zope.event" = "==4.4"  # commons
"zope.sqlalchemy" = "==1.2"  # commons
shapely = "==1.7.1"

[requires]
python_version = "3.6"
