Babel==2.5.1
boto==2.48.0
bottle==0.12.13
c2c.template==1.5.1
Chameleon==3.1
dogpile.cache==0.6.4
fanstatic==0.16
GeoAlchemy2==0.4.0
GeoFormAlchemy2==2.0.dev3
geojson==2.3.0
httplib2==0.10.3
ipcalc==1.99.0
isodate==0.5.4
Jinja2==2.9.6
lingua==4.13
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
OWSLib==0.15.0
papyrus==2.2
Paste==2.0.3
PasteDeploy==1.5.2
PasteScript==2.0.2
Pillow==4.2.1
polib==1.0.8
postmarkup==1.2.2
psycopg2==2.7.3.1
pycrypto==2.6.1
pyproj==1.9.5.1
pyramid==1.9.1
pykwalify==1.6.0
pyramid-chameleon==0.3
pyramid-debugtoolbar==4.3
pyramid-mako==1.0.2
pyramid-multiauth==0.9.0
pyramid-tm==2.2
https://github.com/camptocamp/pyramid_closure/archive/23b45f7989cf471dce46dabb8516537bae0a2789.zip#egg=pyramid_closure
python-dateutil==2.6.1
pytz==2017.2
repoze.lru==0.7
requests==2.18.4
simplejson==3.11.1
six==1.11.0
SQLAHelper==1.0
SQLAlchemy==1.1.14
Tempita==0.5.2
textile==2.3.16
transaction==2.1.2
translationstring==1.3
venusian==1.1.0
waitress==1.0.2
WebHelpers==1.3
WebOb==1.7.3
zope.component==4.4.0
zope.deprecation==4.3.0
zope.event==4.3.0
zope.interface==4.4.3
zope.sqlalchemy==0.7.7
