alembic==0.8.7
c2c.versions==1.0.1
flake8==3.0.4
htmlmin==0.1.10
Mako==1.0.4
pep8-naming== 0.4.1
https://github.com/transifex/transifex-client/archive/655c5e9f964bdc3e7ba4787d68b048bc670dcbf0.zip#transifex-client
