-r CONST_versions_requirements.txt
-r CONST_dev-fixversions.txt
alembic==0.9.2
glob2==0.5
c2c.versions==1.0.1
htmlmin==0.1.10
Mako==1.0.6
pep8-naming== 0.4.1
transifex-client==0.12.5
tilecloud==0.5.1
tilecloud-chain==1.4.1
PyYAML==3.12
pykwalify==1.6.0
