---
name: Audit

on:
  push:
    branches:
      - fix-audit
  schedule:
    - cron: '30 2 * * *'

jobs:
  audit:
    runs-on: ${{ matrix.os }}
    name: Audit
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        include:
          - branch: '2.4'
            os: ubuntu-20.04
          - branch: '2.5'
            os: ubuntu-20.04
          - branch: '2.6'
            os: ubuntu-20.04
          - branch: '2.7'
            os: ubuntu-22.04
          - branch: '2.8'
            os: ubuntu-22.04

    steps:
      - run: sudo npm install -g npm@6
      - run: pip install --requirement=requirements.txt

      # For version below 2.7 (included)
      - run: |
          sudo apt-get update
          sudo apt-get install --yes libgdal-dev libgraphviz-dev

      # Have an httplib2 version without any security issues
      - run: sudo python3 -m pip install --upgrade httplib2 numpy

      - uses: actions/checkout@v3
        with:
          ref: ${{ matrix.branch }}
          token: ${{ secrets.GOPASS_CI_GITHUB_TOKEN }}

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}

      - run: python3 -m venv ~/.venv
      - run: ~/.venv/bin/pip install --pre c2cciutils[audit]
      - run: python3 -m pip install --pre c2cciutils[audit]

      - name: Check .tool-versions file existence
        id: tool-versions
        uses: andstor/file-existence-action@v2
        with:
          files: .tool-versions
      - uses: asdf-vm/actions/install@v1
        if: steps.tool-versions.outputs.files_exists == 'true'
      - run: cat /tmp/python-build.*.log
        if: failure()
      - run: python --version

      - name: Audit
        run: ~/.venv/bin/c2cciutils-audit --branch=${{ matrix.branch }}
        env:
          GITHUB_TOKEN: ${{ secrets.GOPASS_CI_GITHUB_TOKEN }}
