name: QGIS build

on:
  push:

jobs:
  main:
    runs-on: ubuntu-22.04
    name: QGIS build
    timeout-minutes: 15
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    strategy:
      fail-fast: false
      matrix:
        # The versions should be set everywhere we have a == QGIS version == comment
        version:
          # Old LTR
          - '3.10'
          # Last LTR
          - '3.16'

    env:
      MAIN_BRANCH: 2.6
      MAJOR_VERSION: 2.6

    # == QGIS version ==
    outputs:
      success-3-10: ${{ steps.success.outputs.success-3-10 }}
      success-3-16: ${{ steps.success.outputs.success-3-16 }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: docker
        if: github.repository == 'camptocamp/c2cgeoportal'

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - run: docker pull camptocamp/geomapfish:${{ env.MAJOR_VERSION }}
      - run: docker tag camptocamp/geomapfish:${{ env.MAJOR_VERSION }} camptocamp/geomapfish
      - run: make build-test-db

      - name: Build QGIS server
        run: |
          docker build --target=runner --build-arg=VERSION=${{ matrix.version }} \
          --tag=camptocamp/geomapfish-qgisserver \
          docker/qgisserver;
          docker tag camptocamp/geomapfish-qgisserver \
          camptocamp/geomapfish-qgisserver:gmflatest-qgis${{ matrix.version }}

      - name: Test library availability
        run:
          "! ( docker run --rm camptocamp/geomapfish-qgisserver ldd /usr/local/bin/qgis_mapserv.fcgi | grep 'not
          found' )"

      - name: Acceptance tests
        run: |
          cd docker/qgisserver
          docker compose up -d
          docker compose exec -T tests /tests/wait-db
          docker compose exec -T tests alembic --config=/tests/alembic.ini --name=main upgrade head
          docker compose exec -T tests alembic --config=/tests/alembic.ini --name=static upgrade head
          docker compose exec -T tests /tests/fill-db
          ../../ci/run-dc-logs docker compose exec -T tests /tests/acceptance-tests
          docker compose down

      - run: scripts/get-version --auto-increment --github
        id: version
        if: github.repository == 'camptocamp/c2cgeoportal'

      - name: Publish feature branch
        run: |
          c2cciutils-publish --group=qgis-${{ matrix.version }}
        if: >
          github.ref != format('refs/heads/{0}', env.MAIN_BRANCH)
          && github.repository == 'camptocamp/c2cgeoportal'
      - name: Publish version branch
        run: |
          c2cciutils-publish --group=qgis-${{ matrix.version }} --type=version_branch \
            --version=${{ steps.version.outputs.major }}
        if: >
          github.ref == format('refs/heads/{0}', env.MAIN_BRANCH)
          && github.repository == 'camptocamp/c2cgeoportal'

      # Mark as success
      - id: success
        run: |
          version=${{ matrix.version }}
          echo "success-${version//\./-}=true" >> $GITHUB_OUTPUT

  success:
    runs-on: ubuntu-24.04
    name: QGIS build success
    timeout-minutes: 15
    needs: main
    if: always()

    # == QGIS version ==
    steps:
      - run: '[[ "${{ needs.main.outputs.success-3-10 }}" == "true" ]]'
      - run: '[[ "${{ needs.main.outputs.success-3-16 }}" == "true" ]]'
