name: Rebuild master

on:
  schedule:
    - cron: '30 3 * * *'

jobs:
  main:
    runs-on: ubuntu-22.04
    name: Rebuild master
    timeout-minutes: 1

    strategy:
      fail-fast: false
      matrix:
        branch:
          - '2.4'
          - master

    steps:
      - run: echo No rebuild on master and 2.4
