[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
c2cwsgiutils = {extras = ["broadcast"], version = "==5.0.0"}
papyrus = "==2.4"  # commons
transaction = "==3.0.1"  # commons
"c2c.template" = "==2.3.0"
GeoAlchemy2 = "==0.11.1"
SQLAlchemy = "==1.4.37"  # commons
"zope.event" = "==4.4"  # commons
"zope.sqlalchemy" = "==1.2"  # commons
shapely = "==1.8.2"
cee-syslog-handler = "==0.6.0"
setuptools = "==59.8.0"
psycopg2 = "==2.9.3"
pytz = "==2022.1"

[dev-packages]
prospector = {extras = ["with_mypy", "with_bandit"], version = "==1.7.7"}
flake8 = "==4.0.1"
types-pyyaml = "==6.0.7"

[requires]
python_version = "3.8"
